body {
	padding-top: 50px;
	padding-left: 0px;
	padding-right: 0px;
}

.panel {
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
      		box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.login {
	border-width: 1px;
	border-color: #ddd;
	left: 50%;
	display: absolute;
}

.panel-heading {
	padding: 10px 10px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.panel-body {
	padding: 15px;
}

.error-form {
  max-width: 400px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.full {
	width: 100%;
}

.fullscreen {
    max-width: 100%;
    height: auto;
    display: block;
    clear: both;
    margin:auto;
}

.content-body {
	max-width: 1200px;
	clear: both;
	margin: auto;
}

.title-navbar {
	width: 96px;
	display: block;
	text-align: center;
}

.navbar-logo {
	font-size: 18px;
	color: #f00;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 20px;
}

.navbar-button {
	width: 72px;
	height: inherit;
	line-height: inherit;
	margin: 8px;
}

.copyright {
	font-size: 10px;
	color: #fff;
	text-align: center;
	z-index: 999;
 	overflow: visible;
}

.padding-left {
	left: 15px;
}

.group-info,
.group-info-secondary {
	font-size: 14px;
	text-align: right;
	vertical-align: middle;
	line-height: 32px;
	height: 32px;
	width: 150px;
	display: inline;
}

.group-info-secondary {
	text-align: left;
	color: #666;
	width: auto;
}

.row + .row {
	padding-top: 15px;
}

.row-padding {
	padding-left: 10px;
}

.info-nessecary {
	color: #f00;
	vertical-align: middle;
	line-height: 32px;
	height: 32px;
}

.check {
	vertical-align: middle;
	line-height: 24px;
	height: 24px;
}

.custom_title {
	height: inherit;
	line-height: inherit;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	left:45%;
}

.custom_index {
	font-size: 16px;
	margin-left: 20px;
	font-weight: bold;
}