{% extends "portal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 关于我们 {% endblock %}

{% block content %}
<div class='container'>
	<div class="col-lg-12 col-md-12 col-sm-12">
	  <h3>志存高远</h3>
	  <br/>
	  <p style='text-indent:2em;'>北京智友文化传播有限公司（智友文化）2015年9月成立于北京，是一家综合性的文化传播公司，旨在大力推广智力运动的发展。</p>
	  <p style='text-indent:2em;'>
	  	智友文化在引入了国内智力运动领域的顶尖人才后形成了以数独、桥牌、围棋为主的智力运动培训体系，覆盖从入门、初级、中级、高级到专家的各个层次，推出了假期班、日常班、一对一辅导、在线辅导、专题辅导等丰富的产品形式。
	  </p>
	  <p style='text-indent:2em;'>
	  	智友文化秉承力求极致的方针，在陈岑（数独教研组在）、刘京（桥牌教研组）、薛磊（围棋教研组）的号召和努力下，打造了一支高质量的讲师队伍，所有讲师均是来自于清华、北大等著名院校的大学生，在各自领域有着丰富的经验。
	  </p>
	</div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}