{% extends "portal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 关于我们 {% endblock %}

{% block content %}
<style type='text/css'>
	.aligncenter { 
		clear: both; 
		display: block; 
		margin:auto; 
	} 
</style>
<div class='container'>
	<div class="col-lg-12 col-md-12 col-sm-12">
	  <h3>志存高远 砥砺前行</h3>
	  <br/>
	  <p style='text-indent:2em;'>
	  	智益加是一家朝气蓬勃的智力运动教育机构，致力于打造全国最专业、最精致的智力运动培训、推广社区。我们的愿景是通过在青少年中推广健康有益的智力运动，开发智力、培养兴趣，同时向大众传播智力运动中所蕴含的文化和人生哲理。</p>
	  <br/>
	  <img class='aligncenter' src="/static/img/staff.png" alt="团队">	
	  <br/>
	  <p style='text-indent:2em;'>
  		我们的教学团队负责人不仅全部来自北大、清华，而且全部是各自项目中的顶级选手，如桥牌国手刘京、中国数独第一人陈岑、以及国内围棋和象棋棋手中拥有最高学历的薛磊四段和杨晛棋协大师。除此之外，所有年轻教师均是同时在教学项目和综合素质上的佼佼者。我们的教学团队有着对项目最深刻的理解、最先进的理念和教学方法，可以帮助学生快速提升学习效果，全方位的提高学生的素质。
	  </p>
	  <br/>
	  <p style='text-indent:2em;'>
	  	我们的课程内容全部由教学团队自主研发，不仅具有国内外项目教学方面的深刻理解，也有教育领域的资深顾问进行指导，使得学习内容最实用、最科学、最有时效性。智益加不仅提供最专业的，高素质的智力运动教育服务，而且也重视培养学生全方位的发展智商和情商。我们完全具备从零基础培养出全国乃至世界冠军的能力，但与此同时我们将会满足更多学生兴趣爱好，文化内涵，陶冶情操方面的需求。更有趣的是，在智益加学生可以接触到许多不同的智力运动，学生可以通过尝试和了解，寻找到自己的兴趣，变得更聪明，健康和有趣。
	  </p>
	</div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}