{% block doc -%}
<!DOCTYPE html>
<html lang='zh-CN'>
{%- block html %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Language" content="zh-cn"/>
        <Meta http-equiv="Content-Script-Type" Content="text/javascript">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="keywords" content="智益加 智力运动 智力游戏 文化传播 桥牌 围棋 数独 象棋 教育培训">
        
        {%- block head %}
        <title>{% block title %}{% endblock title %}</title>

        {%- block metas %}
        {%- endblock metas %}

        {%- block styles %}
        <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {%- endblock styles %}
        {%- endblock head %}
    </head>
    <body{% block body_attribs %}{% endblock body_attribs %}>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/custom_common.js"></script>
        <link href="/static/css/custom.css" rel="stylesheet">
        <script>
            $(document).ready(function () {
                $("[data-toggle='popover']").each(function () {
                    var element = $(this);
                    var id = element.attr('id');
                    var txt = element.html();
                    element.popover({
                        trigger: 'click',
                        placement: 'bottom',
                        title: '',
                        html: 'true',
                        content: function() {
                            return "<div class='user-popover'><a href='/userinfo?username={{username}}'>编辑</a></div><div class='user-popover'><a href='/logout'>注销<a/></div>";
                        }
                    }).on("mouseenter", function () {
                        var _this = this;
                        $(this).popover("show");
                        $(this).siblings(".popover").on("mouseleave", function () {
                            $(_this).popover('hide');
                        });
                    }).on("mouseleave", function () {
                        var _this = this;
                        setTimeout(function () {
                            if (!$(".popover:hover").length) {
                                $(_this).popover("hide")
                            }
                        }, 100);
                    });
                });
            });
        </script>

        {% block body -%}
        {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid content-body">
                <div class="navbar-header">
                    <a href='/index'><img class="navbar-logo" alt="智益加" src="/static/img/logo.png"></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if index == 1 %}
                        <li class='active'><a class='title-navbar' href="/admin">后台管理</a></li>
                        {% else %}
                        <li><a class='title-navbar' href="/admin">后台管理</a></li>
                        {% endif %}
                        {% if index == 2 %}
                        <li class='active'><a class='title-navbar' href="/teacher">师资管理</a></li>
                        {% else %}
                        <li><a class='title-navbar' href="/teacher">师资管理</a></li>
                        {% endif %}
                        {% if index == 3 %}
                        <li class='active'><a class='title-navbar' href="/course">课程管理</a></li>
                        {% else %}
                        <li><a class='title-navbar' href="/course">课程管理</a></li>
                        {% endif %}
                        {% if index == 4 %}
                        <li class='active'><a class='title-navbar' href="/user">用户管理</a></li>
                        {% else %}
                        <li><a class='title-navbar' href="/user">用户管理</a></li>
                        {% endif %}
                        {% if index == 5 %}
                        <li class='active'><a class='title-navbar' href="/room">教室管理</a></li>
                        {% else %}
                        <li><a class='title-navbar' href="/room">教室管理</a></li>
                        {% endif %}
                    </ul>
                    <div class="collapse navbar-collapse" id="navbar-collapse-login">
                        <ul class="nav navbar-nav navbar-right" align='center'>
                            {% if username %}
                            <li>
                                <a id="popover" class='user-icon' data-placement="bottom" data-toggle='popover'>
                                    <img src='/static/img/user.png'/><span class='caret'/>
                                </a>
                            </li>
                            {% else %}
                            <li><button id='title_btn_login' class='btn btn-default navbar-button'>登录</button></li>
                            <li><button id='title_btn_register' class='btn btn-default navbar-button'>注册</button></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {%- endblock navbar %}
        {% block content -%}
        {%- endblock content %}

        {% block scripts %}
        {%- endblock scripts %}
        {%- endblock body %}
    </body>
{%- endblock html %}
</html>
{% endblock doc -%}
