{% extends "portal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 桥牌课程{% endblock %}

{% block content %}
<img class='fullscreen' src="/static/img/bridge/bridge_banner.jpg" alt="课程报名">
<div class='container'>
	<div class='page-title'>智益加2016年春季桥牌课程安排</div>
	<hr/>

	<table class="table table-striped table-bordered table-hover table-content">
		<caption class="table-caption">初级入门班</caption>
		<tr>
			<td class='td-title'>招生对象</td>
			<td class='td-content'>面向9-14岁，零基础的学生</td>
		</tr>
		<tr>
			<td class='td-title'>课程时间</td>
			<td class='td-content'>3月5日起连续15周，每周2小时</td>
		</tr>
		<tr>
			<td class='td-title'>开班人数</td>
			<td class='td-content'>12-16人</td>
		</tr>
		<tr>
			<td class='td-title'>课程目的</td>
			<td>
				<!-- just majic -->
				<ol class='td-targets'>
					<li style='list-style-type:none;'>1. 学中玩：收获乐趣，培养兴趣</li>
  					<li style='list-style-type:none;'>2. 玩中学：掌握初级知识，参与桥牌运动</li>
  					<li style='list-style-type:none;'>3. 提升：沟通、合作、社交</li>
  					<li style='list-style-type:none;'>4. 进阶：为走向竞赛阶段打下坚实基础</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td class='td-title'>课程费用</td>
			<td class='td-content'>4500元（15次课，每次300元）</td>
		</tr>
	</table>

	<br/>
	<table class="table table-striped table-bordered table-hover table-content">
		<caption class="table-caption">具体课程</caption>
		<tr>
			<td class='td-title'>课次</td>
			<td class='td-title'>主题</td>
			<td class='td-content'>内容概要</td>
		</tr>
		<tr>
			<td class='td-title'>1</td>
			<td class='td-title'>走进桥牌</td>
			<td class='td-content'>桥牌的基本概念、术语和发展史</td>
		</tr>
		<tr>
			<td class='td-title'>2</td>
			<td class='td-title'>数字的游戏</td>
			<td class='td-content'>桥牌叫牌打牌所需基础知识</td>
		</tr>
		<tr>
			<td class='td-title'>3</td>
			<td class='td-title'>比大小</td>
			<td class='td-content'>1NT开叫及无将做庄</td>
		</tr>
		<tr>
			<td class='td-title'>4</td>
			<td class='td-title'>矛与盾</td>
			<td class='td-content'>一阶高花开叫相关知识和防守入门</td>
		</tr>
		<tr>
			<td class='td-title'>5</td>
			<td class='td-title'>制订计划</td>
			<td class='td-content'>一阶低花开叫相关知识和做庄计划</td>
		</tr>
		<tr>
			<td class='td-title'>6</td>
			<td class='td-title'>四人参与</td>
			<td class='td-content'>争叫和简要飞牌入门</td>
		</tr>
		<tr>
			<td class='td-title'>7</td>
			<td class='td-title'>弱牌的价值</td>
			<td class='td-content'>阻击叫相关知识，出牌方向综述</td>
		</tr>
		<tr>
			<td class='td-title'>8</td>
			<td class='td-title'>防守方的武器</td>
			<td class='td-content'>强开叫相关知识，防守信号入门</td>
		</tr>
		<tr>
			<td class='td-title'>9</td>
			<td class='td-title'>不确定的因素</td>
			<td class='td-content'>飞牌知识深入，争叫后的应叫变化</td>
		</tr>
		<tr>
			<td class='td-title'>10</td>
			<td class='td-title'>激动人心的满贯</td>
			<td class='td-content'>满贯叫牌介绍，桥路和次序</td>
		</tr>
		<tr>
			<td class='td-title'>11</td>
			<td class='td-title'>聚焦</td>
			<td class='td-content'>标准美国黄卡介绍，单套处理</td>
		</tr>
		<tr>
			<td class='td-title'>12</td>
			<td class='td-title'>执行计划</td>
			<td class='td-content'>加倍和再加倍介绍，攻防整体技巧</td>
		</tr>
		<tr>
			<td class='td-title'>13</td>
			<td class='td-title'>奇妙的桥牌</td>
			<td class='td-content'>叫牌原则和约定叫总结，高级桥牌技巧概览</td>
		</tr>
		<tr>
			<td class='td-title'>14</td>
			<td class='td-title'>习题课1</td>
			<td class='td-content'>无将做庄，牌型牌点计算</td>
		</tr>
		<tr>
			<td class='td-title'>15</td>
			<td class='td-title'>习题课2</td>
			<td class='td-content'>有将做庄，简要读牌</td>
		</tr>
	</table>

	<br/>
	  	{% for c in courses %}
		<table class="table table-striped table-bordered table-hover table-content">
			<caption class="table-caption">{{c.name}}-具体班次</caption>
			<tr align="center">
				<td class='td-title'>序号</td>
				<td class='td-title'>时间</td>
				<td class='td-title'>地点</td>
				<td class='td-title'>授课老师</td>
			</tr>
		{% for schedule in courseSchedules[courses.index(c)] %}  
			<tr>
				<td class='td-title'>{{schedule.courseIndex}}</td>
				<td class='td-title'>{{schedule.startTime}}~{{schedule.endTime}}</td>
				<td class='td-title'>{{schedule.fullAddress}}</td>
				<td class='td-title'>{{teachers[courses.index(c)]}}</td>
			</tr>

		{% endfor %}
		</table>
		<p class="text-info summary-detail table-footmark">&nbsp备注：其他时间可攒班，满12人开课</p>
		<br />
		<input type='button' class='btn btn-primary btn-register' onclick=" location.href = '/course_userregister?cid={{c.cid}}' " value='我要报名'/>
		<br /><br />
	{% endfor %}

	<!-- <table class="table table-striped table-bordered table-hover table-content">
		<caption class="table-caption">具体班次</caption>
		<tr align="center">
			<td class='td-title'>序号</td>
			<td class='td-title'>时间</td>
			<td class='td-title'>地点</td>
			<td class='td-title'>授课老师</td>
		</tr>
		<tr>
			<td class='td-title'>1</td>
			<td class='td-title'>每周六10:20~12:20</td>
			<td class='td-title'>银网大厦教学点1教室</td>
			<td class='td-title'>刘英皓&nbsp&nbsp王婉</td>
		</tr>
		<tr>
			<td class='td-title'>2</td>
			<td class='td-title'>每周六13:30~15:30</td>
			<td class='td-title'>银网大厦教学点1教室</td>
			<td class='td-title'>刘英皓&nbsp&nbsp王婉</td>
		</tr>
		<tr>
			<td class='td-title'>3</td>
			<td class='td-title'>每周六15:50~17:50</td>
			<td class='td-title'>银网大厦教学点1教室</td>
			<td class='td-title'>刘英皓&nbsp&nbsp王婉</td>
		</tr>
		<tr>
			<td class='td-title'>4</td>
			<td class='td-title'>每周六18:00~20:00</td>
			<td class='td-title'>银网大厦教学点1教室</td>
			<td class='td-title'>刘英皓&nbsp&nbsp王婉</td>
		</tr>
		<tr>
			<td class='td-title'>5</td>
			<td class='td-title'>每周日10:20~12:20</td>
			<td class='td-title'>银网大厦教学点1教室</td>
			<td class='td-title'>刘京&nbsp&nbsp孙泽远</td>
		</tr>
		<tr>
			<td class='td-title'>6</td>
			<td class='td-title'>每周日13:30~15:30</td>
			<td class='td-title'>银网大厦教学点1教室</td>
			<td class='td-title'>刘京&nbsp&nbsp孙泽远</td>
		</tr>
		<tr>
			<td class='td-title'>7</td>
			<td class='td-title'>每周日15:50~17:50</td>
			<td class='td-title'>银网大厦教学点1教室</td>
			<td class='td-title'>刘京&nbsp&nbsp孙泽远</td>
		</tr>
	</table>
	<p class="text-info summary-detail table-footmark">&nbsp备注：其他时间可攒班，满12人开课</p>
	<br />
	<input type='button' class='btn btn-primary btn-register' onclick=" location.href = '/course_register?type=1' " value='我要报名'/>
	<br /><br /> -->
</div>

<script src="/static/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/custom_common.js"></script>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}