{% extends "portal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 桥牌介绍 {% endblock %}

{% block content %}
<style type='text/css'>
	p {
		text-indent:2em;
	}
</style>

<img class='fullscreen' src="/static/img/bridge/bridge_banner.jpg" alt="桥牌介绍">
<div id='bridge' class='container'>
	<div class="row">
	    <div class="col-sm-3 col-md-6 col-lg-6">
	    	<div class='page-title'>什么是桥牌？</div>
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/bridge/bridge1.png" alt="桥牌">
	        	<div class="caption">
	          		<p>桥牌（bridge）是四人一桌，两人一组，以52张牌为道具的智力运动。桥牌有完备的比赛规则，计分方法和道德礼仪规范要求。桥牌起源于英国，发扬于美国，是流行于欧美的绅士社交运动。</p>
	        	</div>
	        	<img class='img-responsive' src="/static/img/bridge/bridge2.png" alt="桥牌">
	        	<div class="caption">
	          		<p>作为一项多门类学科融汇为一体的智谋较量运动，桥牌充满了哲理性和科学性，参与者需要运用周密的逻辑推理，进行判断分析，并和同伴通力合作，运用恰当的战略战术。简言之，桥牌是大脑的智力体操，是高雅公平的竞技，是搭档沟通的艺术。</p>
	        	</div>
	        	<img class='img-responsive' src="/static/img/bridge/bridge3.png" alt="桥牌">
	        	<div class='caption'>
	        		<p>桥牌深受高端人士喜爱，是我国改革开放的导师邓小平所喜爱的休闲活动，也已经成为商业巨子沃伦·巴菲特和比尔·盖茨每年股东大会后的交际项目。桥牌的思维方式，特别紧扣风险投入与产出回报这种主题，也使得桥牌成为一种在全世界资本圈所流行的智力运动。</p>
	      		</div>
	      	</div>
	    </div>
	    <div class="col-sm-3 col-md-6 col-lg-6">
			<div class='page-title'>为什么要学习桥牌？</div>
	      	<div class="thumbnail">
	        	<!-- <img class='img-responsive' src="/static/img/bridge/bridge4.png" alt="桥牌"> -->
	        	<div class="caption">
	        		<h5 style="font-weight: bold;">逻辑思维能力提升get√</h5>
	          		<p>桥牌可以锻炼一个人在面对问题时，从多个角度进行分析和逻辑思维能力，同时善于抓住细节，心思缜密、考虑全面，从而提高处理问题的能力，提高一个人的整体素质。</p>
	        	</div>
	        	<img class='img-responsive' src="/static/img/bridge/bridge5.png" alt="桥牌">
	        	<div class="caption">
	        		<h5 style="font-weight: bold;">团队沟通能力提升get√</h5>
	          		<p>桥牌是智力运动中唯一一个与搭档或者团队合作的项目，不仅可以培养一个人如何成为一名优秀的团队合作选手，而且在和搭档以及团队的沟通中不断互相进步。</p>
	        	</div>
	        	<img class='img-responsive' src="/static/img/bridge/bridge6.png" alt="桥牌">
		        <div class="caption">
		        	<h5 style="font-weight: bold;">参加全国及国际赛事get√</h5>
		          	<p>桥牌是一门健康有益的特长，现在北京地区和全国有着多项桥牌竞赛：北京地区中小学桥牌赛：超过20所学校/100人参加；全国中学生桥牌赛： 超过100所学校/400人参加。另外，每年夏季美国都会举办世界桥牌夏令营及青少年锦标赛，学生不仅可以得到许多来自世界各地的新朋友，而且可以获得胜利的喜悦。在京的重点中学如人大附中，八中等学校均有桥牌队，并在国内外比赛中成绩斐然。</p>
		        </div>
		        <img class='img-responsive' src="/static/img/bridge/bridge7.png" alt="桥牌">
		        <div class="caption">
		        	<h5 style="font-weight: bold;">欧美世界名校所青睐的特长get√</h5>
		          	<p>桥牌是一项世界性的运动，学生不仅可以桥牌为媒介参加多种国际交流活动，而且对于有出国留学志向的学生，桥牌是非常好的社交和更好融入国际社会的工具。已经有许多中学，大学桥牌高手，同时拿到了斯坦福等世界名校的录取通知书！</p>
		        </div>
	      	</div>
	    </div>
	</div>

	<div class='page-title'>桥牌教师团队介绍</div>
	<div class="row">
		<div class="col-sm-3 col-md-6 col-lg-6">
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/bridge/bridge9.jpg" alt="刘京">
	        	<div class="caption">
	        		<h3 style="font-weight: bold;">刘京</h3>
	          		<p>清华大学研究生毕业。世界桥牌联合会国际大师。多次获得全国，亚洲冠军，数个世界比赛中国历史最佳成绩拥有者，与世界顶级桥牌选手和教师保持着良好的交流。他能够深刻的剖析桥牌运动的文化内涵，以及将这些内容严谨而全面的表达出来，并且会把这项智力运动无论是本质，逻辑层面还是团队，竞技层面的教学内容，环环相扣，深入浅出的展现给学生。</p>
	        	</div>
	        </div>
	    </div>
	    <div class="col-sm-3 col-md-6 col-lg-6">
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/bridge/bridge10.jpg" alt="刘英皓">
	        	<div class="caption">
	        		<h3 style="font-weight: bold;">刘英皓</h3>
	          		<p>北京大学本科毕业。世界桥牌联合会世界大师。全国，亚洲青年冠军，桥牌专栏作家和翻译家，世界级比赛公报编辑。他从2011年起开始担任北京大学桥牌选修课外聘讲师至今，授课风格风趣幽默，不仅教授桥牌技巧，而且教授文化以及人生道理，是体育部最受学生欢迎的课程之一。他将用深厚的教学经验和对桥牌运动以及文化的理解，让学生兴趣盎然的参与到这项富含哲理的绅士运动中来。</p>
	        	</div>
	        </div>
	    </div>
	    <div class="col-sm-3 col-md-6 col-lg-6">
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/bridge/bridge11.jpg" alt="孙泽远">
	        	<div class="caption">
	        		<h3 style="font-weight: bold;">孙泽远</h3>
	          		<p>现北京大学研究生在读。作为北京大学桥牌队队长，桥牌协会和桥牌队在他的管理下都有着良好的发展。在2015年全国智力运动会中，他代表北京青年队获得了金牌。他从2013年开始担任学校桥牌选修课课程的助教，并且从2015年开始担任桥牌课的老师，拥有着丰富的教学经验。同时身为桥牌高手，有经验的老师以及一名学霸的他将会给学生以全面且有活力的桥牌运动本身，以及和学习生活关系的指导。</p>
	        	</div>
	        </div>
	    </div>
	    <div class="col-sm-3 col-md-6 col-lg-6">
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/bridge/bridge12.jpg" alt="王婉">
	        	<div class="caption">
	        		<h3 style="font-weight: bold;">王婉</h3>
	          		<p>现北京师范大学研究生在读。王婉在中学期间就对桥牌产生了浓厚的兴趣，在2015年，她获得了全国桥牌青年锦标赛的冠军，并且入选了国家青年女队，同年又成为了亚洲青年冠军。今年，王婉将代表国家，前往意大利参加世界青年锦标赛，这对她来说是梦想成真的一刻。她也非常愿意和学生们分享自己的桥牌和人生历程，不仅传递自己的桥牌知识，而且传播这项有魅力又充满智慧的运动的精神。</p>
	        	</div>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}