{% extends "portal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 桥牌介绍 {% endblock %}

{% block content %}
<style type='text/css'>
	p {
		text-indent:2em;
	}

	div {
		text-indent:2em;
	}

	span {
		text-indent:2em;
	}

	td{
		text-align:left;
	}


	.redAndBold{
		color: red;
		font-weight: bold;
	}

	.bold {
		font-weight: bold;
	}

	.normalIndent{
		text-indent: 0em;
	}

	.indent {
		text-indent: 4em;
	}
	.aligncenter { 
		clear: both; 
		display: block; 
		margin:auto; 
	} 
</style>

<div id='sudoku' class='container'>
	<div class="col-lg-12 col-md-12 col-sm-12 well">
	  	<h3>什么是桥牌？</h3>
	  	<img class='aligncenter' src="/static/img/qiaopai/qiaopai1.png" alt="桥牌">
	  	<p>桥牌（bridge）是四人一桌，两人一组，以52张牌为道具的智力运动。桥牌有完备的比赛规则，计分方法和道德礼仪规范要求。桥牌起源于英国，发扬于美国，是流行于欧美的绅士社交运动。</p>
		<br/>

		<img class='aligncenter' src="/static/img/qiaopai/qiaopai2.png" alt="桥牌">
		<p>作为一项多门类学科融汇为一体的智谋较量运动，桥牌充满了哲理性和科学性，参与者需要运用周密的逻辑推理，进行判断分析，并和同伴通力合作，运用恰当的战略战术。简言之，桥牌是大脑的智力体操，是高雅公平的竞技，是搭档沟通的艺术。</p>
		<br/>

		<p>桥牌深受高端人士喜爱，是我国改革开放的导师邓小平所喜爱的休闲活动，也已经成为商业巨子沃伦·巴菲特和比尔·盖茨每年股东大会后的交际项目。桥牌的思维方式，特别紧扣风险投入与产出回报这种主题，也使得桥牌成为一种在全世界资本圈所流行的智力运动。</p>
		<br/>

		<h3>为什么要学习桥牌？</h3>
		<img class='aligncenter' src="/static/img/qiaopai/qiaopai4.png" alt="围棋">
		<p><span style="font-weight: bold;" >逻辑思维能力提升get√</span>。桥牌可以锻炼一个人在面对问题时，从多个角度进行分析和逻辑思维能力，同时善于抓住细节，心思缜密、考虑全面，从而提高处理问题的能力，提高一个人的整体素质。</p>
		<br/>

		<img class='aligncenter' src="/static/img/qiaopai/qiaopai5.png" alt="围棋">
		<p><span style="font-weight: bold;" >团队沟通能力提升get√</span>。桥牌是智力运动中唯一一个与搭档或者团队合作的项目，不仅可以培养一个人如何成为一名优秀的团队合作选手，而且在和搭档以及团队的沟通中不断互相进步。</p>
		
		<img class='aligncenter' src="/static/img/qiaopai/qiaopai6.png" alt="围棋">
		<p><span style="font-weight: bold;" >参加全国及国际赛事get√</span>。桥牌是一门健康有益的特长，现在北京地区和全国有着多项桥牌竞赛：北京地区中小学桥牌赛：超过20所学校/100人参加；全国中学生桥牌赛： 超过100所学校/400人参加。另外，每年夏季美国都会举办世界桥牌夏令营及青少年锦标赛，学生不仅可以得到许多来自世界各地的新朋友，而且可以获得胜利的喜悦。在京的重点中学如人大附中，八中等学校均有桥牌队，并在国内外比赛中成绩斐然。</p>
		<br/>
		
		<img class='aligncenter' src="/static/img/qiaopai/qiaopai7.png" alt="围棋">
		<p><span style="font-weight: bold;" >欧美世界名校所青睐的特长get√</span>。桥牌是一项世界性的运动，学生不仅可以桥牌为媒介参加多种国际交流活动，而且对于有出国留学志向的学生，桥牌是非常好的社交和更好融入国际社会的工具。已经有许多中学，大学桥牌高手，同时拿到了斯坦福等世界名校的录取通知书！</p>
		<br/>

		<div style="color: red;font-weight: bold;">
			去哪里学习桥牌？
		</div>
		<div style="color: red;font-weight: bold;">
			智力运动学习首选智益加！这里是智力运动精英的聚集地！
		</div>
		<img class='aligncenter' src="/static/img/qiaopai/qiaopai8.png" alt="围棋">
	    <br/>
	    <p>
	    	一、<span style="font-weight: bold;" >机构牛！</span>融合所有智力运动的培训机构国内仅此一家，在这里可以学习和接触最多的智力项目。
	    </p>
	    <p>
	    	二、<span style="font-weight: bold;" >团队牛！</span>智益加各项目负责人均来自北大、清华，有最先进的教学理念与最好的教学方法。
	    </p>
	    <p>
	    	三、<span style="font-weight: bold;" >老师牛！</span>智益加教师团队全部来自一线选手，自己通过多年训练达到国内顶尖水准，因此可以帮助学生快速提升，避免学生浪费学习时间。
	    </p>
	    <p>
	    	四、<span style="font-weight: bold;" >课程牛！</span>智益加课程内容全部由团队自主研发，学习内容最实用、最科学、最有时效性。此外所有项目均采取不到20人的小班授课，教师会关注每位学生的成长。
	    </p>
		
		<div style="font-weight: bold;">
			点击进入
		</div>
		<div style="font-weight: bold;">
			<a style=" color:black;" href="/sudoku_detail">智益加2016年春季数独课程介绍</a>

		</div>
		<div style="font-weight: bold;">
			<a style=" color:black;" href="/bridge_detail">智益加2016年春季围棋课程介绍/a>
		</div>
		<div style="font-weight: bold;">
			<a style=" color:black;" href="#">智益加2016年春季中国象棋课程介绍</a>
		</div>

		<br />
		<p style="color:red;">桥牌教师团队介绍</p>
		<img class='aligncenter' src="/static/img/qiaopai/qiaopai9.png" alt="刘京">
		<p>
			<span class="bold">刘京</span>：清华大学研究生毕业。世界桥牌联合会国际大师。多次获得全国，亚洲冠军，数个世界比赛中国历史最佳成绩拥有者，与世界顶级桥牌选手和教师保持着良好的交流。他能够深刻的剖析桥牌运动的文化内涵，以及将这些内容严谨而全面的表达出来，并且会把这项智力运动无论是本质，逻辑层面还是团队，竞技层面的教学内容，环环相扣，深入浅出的展现给学生。
		</p>
		<img class='aligncenter' src="/static/img/qiaopai/qiaopai10.png" alt="刘英皓">
		<p>
			<span class="bold">刘英皓</span>：北京大学本科毕业。世界桥牌联合会世界大师。全国，亚洲青年冠军，桥牌专栏作家和翻译家，世界级比赛公报编辑。他从2011年起开始担任北京大学桥牌选修课外聘讲师至今，授课风格风趣幽默，不仅教授桥牌技巧，而且教授文化以及人生道理，是体育部最受学生欢迎的课程之一。他将用深厚的教学经验和对桥牌运动以及文化的理解，让学生兴趣盎然的参与到这项富含哲理的绅士运动中来。
		</p>
		<img class='aligncenter' src="/static/img/qiaopai/qiaopai11.png" alt="孙泽远">
		<p>
			<span class="bold">王婉</span>：现北京大学研究生在读。作为北京大学桥牌队队长，桥牌协会和桥牌队在他的管理下都有着良好的发展。在2015年全国智力运动会中，他代表北京青年队获得了金牌。他从2013年开始担任学校桥牌选修课课程的助教，并且从2015年开始担任桥牌课的老师，拥有着丰富的教学经验。同时身为桥牌高手，有经验的老师以及一名学霸的他将会给学生以全面且有活力的桥牌运动本身，以及和学习生活关系的指导。
		</p>
		<img class='aligncenter' src="/static/img/qiaopai/qiaopai12.png" alt="王婉">
		<p>
			<span class="bold">王婉</span>：现北京师范大学研究生在读。王婉在中学期间就对桥牌产生了浓厚的兴趣，在2015年，她获得了全国桥牌青年锦标赛的冠军，并且入选了国家青年女队，同年又成为了亚洲青年冠军。今年，王婉将代表国家，前往意大利参加世界青年锦标赛，这对她来说是梦想成真的一刻。她也非常愿意和学生们分享自己的桥牌和人生历程，不仅传递自己的桥牌知识，而且传播这项有魅力又充满智慧的运动的精神。
		</p>

		<span class="redAndBold">智益加智力运动中心地址：</span><br />
		<span class="bold">海淀区知春路银网中心B座6层（地铁四号线海淀黄庄站东200米路北）</span>
		<br /><br />
		<span class="redAndBold">智益加围棋春季课程安排：</span><br />
		<span class="bold">初级入门班：</span><span>面向9-14岁，零基础的学生；</span><br />
		<span>课程时间：3月5日起连续15周，每周2小时 </span><br />
		<span>开班人数：12-16人</span><br />
		<table class="normalIndent" >
			<tr>
				<td style="vertical-align:top">课程目的：</td>
				<td>1. 学中玩：收获乐趣，培养兴趣。<br />
					2. 玩中学：掌握桥牌的初级知识，能够参与桥牌运动。<br />
					3. 提升：沟通，合作，社交。<br />
					4. 进阶：为走向竞赛阶段打下坚实基础。
				</td>
			</tr>
		</table>
		<br />

		<span class="bold">具体课程简介：</span><br />
		<table style="	text-indent:1em;" border="1px">
			<tr>
				<td style="text-align:center;text-indent:0em;">课次</td>
				<td style="text-align:center;">主题</td>
				<td style="text-align:center;">内容概要</td>
			</tr>
			<tr>
				<td>1</td>
				<td>走进桥牌</td>
				<td>桥牌的基本概念、术语和发展史</td>
			</tr>
			<tr>
				<td>2</td>
				<td>数字的游戏</td>
				<td>桥牌叫牌打牌所需基础知识</td>
			</tr>
			<tr>
				<td>3</td>
				<td>比大小</td>
				<td>1NT开叫及无将做庄</td>
			</tr>
			<tr>
				<td>4</td>
				<td>矛与盾</td>
				<td>一阶高花开叫相关知识和防守入门</td>
			</tr>
			<tr>
				<td>5</td>
				<td>制订计划</td>
				<td>一阶低花开叫相关知识和做庄计划</td>
			</tr>
			<tr>
				<td>6</td>
				<td>四人参与</td>
				<td>争叫和简要飞牌入门</td>
			</tr>
			<tr>
				<td>7</td>
				<td>弱牌的价值</td>
				<td>阻击叫相关知识，出牌方向综述</td>
			</tr>
			<tr>
				<td>8</td>
				<td>防守方的武器</td>
				<td>强开叫相关知识，防守信号入门</td>
			</tr>
			<tr>
				<td>9</td>
				<td>不确定的因素</td>
				<td>飞牌知识深入，争叫后的应叫变化</td>
			</tr>
			<tr>
				<td>10</td>
				<td>激动人心的满贯</td>
				<td>满贯叫牌介绍，桥路和次序</td>
			</tr>
			<tr>
				<td>11</td>
				<td>聚焦</td>
				<td>标准美国黄卡介绍，单套处理</td>
			</tr>
			<tr>
				<td>12</td>
				<td>执行计划</td>
				<td>加倍和再加倍介绍，攻防整体技巧</td>
			</tr>
			<tr>
				<td>13</td>
				<td>奇妙的桥牌</td>
				<td>叫牌原则和约定叫总结，高级桥牌技巧概览</td>
			</tr>
			<tr>
				<td>14</td>
				<td>习题课1</td>
				<td>无将做庄，牌型牌点计算</td>
			</tr>
			<tr>
				<td>15</td>
				<td>习题课2</td>
				<td>有将做庄，简要读牌</td>
			</tr>
		</table>
		<br />

		<span>具体班次:</span>
		<table style="	text-indent:1em;" border="1px">
			<tr>
				<td style="text-indent:0em;">序号</td>
				<td style="text-indent:1em;">时间</td>
				<td style="text-indent:1em;">地点</td>
				<td style="text-align:center;">授课老师</td>
			</tr>
			<tr>
				<td>1</td>
				<td>每周六10:20-12:20</td>
				<td>银网大厦教学点1教室</td>
				<td>刘英皓，王婉</td>
			</tr>
			<tr>
				<td>2</td>
				<td>每周六13:30-15:30</td>
				<td>银网大厦教学点1教室</td>
				<td>刘英皓，王婉</td>
			</tr>
			<tr>
				<td>3</td>
				<td>每周六15:50-17:50</td>
				<td>银网大厦教学点1教室</td>
				<td>刘英皓，王婉</td>
			</tr>
			<tr>
				<td>4</td>
				<td>每周六18:00-20:00</td>
				<td>银网大厦教学点1教室</td>
				<td>刘英皓，王婉</td>
			</tr>
			<tr>
				<td>5</td>
				<td>每周日10:20-12:20</td>
				<td>银网大厦教学点1教室</td>
				<td>刘京，孙泽远</td>
			</tr>
			<tr>
				<td>6</td>
				<td>每周日13:30-15:30</td>
				<td>银网大厦教学点1教室</td>
				<td>刘京，孙泽远</td>
			</tr>
			<tr>
				<td>7</td>
				<td>每周日15:50-17:50</td>
				<td>银网大厦教学点1教室</td>
				<td>刘京，孙泽远</td>
			</tr>
		</table>
		<span>其他时间可攒班，12人开课。</span>
		<br /><br />

		<span class="normalIndent"><span class="bold">课程费用：</span>15次课，每次300元</span>
		<br /><br />

		<span class="normalIndent bold">开业优惠：</span>
		<span class="normalIndent">前3次免费体验，300元×12次=3600元</span><br />
		<span class="normalIndent">两人同报折上8折：2880元</span><br />
		<span class="normalIndent">三人以上同报折上7折：2520元</span>
		<br /><br />

		<span class="bold" >分享到微信朋友圈集齐20个赞并在报名时出示，再减100元！</span>
		<br /><br />

		<span class="redAndBold">问与答</span><br />
		<span>Q：什么时间，在哪可以报名？</span><br />
		<span>
			A：家长可以先加入智益加的咨询微信群或者QQ群（见下图），并且用微信预报名，在2月1日之后家长可以选择到我们的教室交费报名，或者联系我们并使用支付宝进行报名。
		</span>
		<br /><br />

		<span>Q：是否要有一个固定的搭档一起报名？</span><br />
		<span>A：我们欢迎学生和自己一名好友作为搭档一起报名，但是不要求必须以搭档的形式报名，单独报名不会影响学习的效果。我们会在课上让学生形成新搭档，成为新朋友。</span>
		<br /><br />

		<span>Q：家长是否可以旁听？</span><br />
		<span>A：我们非常欢迎家长一起旁听课程，无论家长是否有围棋基础。</span>
		<br /><br />

		<span>Q：学生学完一学期，还有兴趣，想要继续学习，想要继续学习和参加竞赛怎么办？</span><br />
		<span>A：智益加极具能力的教学团队将会给在智力运动方面有兴趣的学生提供广阔的发展空间。我们将会在下面的学期开设中级课程，并且组织队伍参加国内乃至世界比赛，非常欢迎有兴趣的学生继续学习，老生还会享受更多优惠哦！</span>
		<br /><br />

		<span class="bold">任何问题，报名信息请咨询：</span><br />
		<span>大刘老师 </span><br />
		<span>小刘老师 </span>
		<br /><br />

		<span class="bold">咨询微信群（2月3日之前有效）：</span><br />
		<img class='' style="width:185px;height:185px;" src="/static/img/qiaopai/qiaopai13.png" alt="围棋">
		<br /><br />

		<span class="bold">咨询QQ群（群号515440943）：</span><br />
		<img class='' style="width:185px;height:185px;" src="/static/img/qiaopai/qiaopai14.png" alt="围棋">
		<br /><br />

		<span>联系地址（2月1日起欢迎来访）：海淀区知春路银网中心B座6层（地铁四号线海淀黄庄站东200米路北）</span>
		<br /><br />

		<span class="redAndBold">快来智益加学习一项智力运动吧！</span>

	</div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}