{% extends "portal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}
智益加 - 修改密码
{% endblock %}

{% block content %}
<div class='container'>
	<div class='page-title'>智益加 - 修改密码</div>
	<div class="panel panel-default">
	  	<div class="panel-body">
			<div class="row row-padding">
			  	<div class="col-lg-2" align='right'>
				    <span class='group-info'>原密码：</span><strong class='info-nessecary'>*</strong>
			  	</div>
				<div class="col-lg-5" align='left'>
					<input id='txtOldPassword' type="password" class="form-control" placeholder="请输入原密码" ></input>
			  	</div>
			</div>

			<div class="row row-padding">
			  	<div class="col-lg-2" align='right'>
				    <span class='group-info'>新密码：</span><strong class='info-nessecary'>*</strong>
			  	</div>
				<div class="col-lg-5" align='left'>
					<input id='txtNewPassword' type="password" class="form-control" placeholder="请输入新密码" ></input>
			  	</div>
			</div>

			<div class="row row-padding">
			  	<div class="col-lg-2" align='right'>
				    <span class='group-info'>新密码确认：</span><strong class='info-nessecary'>*</strong>
			  	</div>
				<div class="col-lg-5" align='left'>
					<input id='txtPasswordComfirm' type="password" class="form-control" placeholder="请再次输入新密码" ></input>
			  	</div>
			</div>

			<div class="row row-padding">
			  	<div class="col-lg-7" align='right'>
			  		<button id='btnEditUser' class='btn btn-primary'>提交</button>
			  	</div>
			</div>
		</div>
	</div>
</div>


<script src="/static/js/change_password.js"></script>
<script src="/static/js/custom_common.js"></script>
<!-- <script src="/static/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<link href="/static/css/custom.css" rel="stylesheet"> -->


{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
