{% extends "account_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}
智益加 - 修改密码
{% endblock %}

{% block content %}
<link href="/static/css/login.css" rel="stylesheet">

<div class='container'>
  <div class='sign-form'>
    <h4 class='sign-form-heading' align='center'>修改密码</h4>
    <hr class='sign-padding'/>
    <input id='txtOldPassword' type="password" class="form-control" placeholder="输入原密码" ></input>
    <input id='txtNewPassword' type="password" class="form-control" placeholder="输入新密码" ></input>
    <input id='txtPasswordComfirm' type="password" class="form-control" placeholder="再次输入新密码" ></input>
    <button id='btnChangePassword' type='submit' class='btn btn-primary register-button full padding-top'>更新</button>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/change_password.js"></script>
<script src="/static/js/custom_common.js"></script>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}