{% extends "account_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 错误{% endblock %}

{% block content %}
<style type="text/css">
  .error-icon {
    margin-top: 30px;
  }
  .error-title {
    font-size: 48px;
    color: #545454;
  }
  .error-detail {
    font-size: 24px;
    color: #707070;
  }
  .error-padding {
    padding-top: 30px;
    text-align: center;
  }
</style>
<div class='container'>
  <div class='row'>
    <div class="col-sm-3 col-md-6 col-lg-6">
        <div class="thumbnail error-icon">
          <img class='img-responsive' src="/static/img/error.png">
        </div>
    </div>
    <div class="col-sm-3 col-md-6 col-lg-6">
          <div class="caption error-padding">
            <p class='error-title'>对不起</p>
            {% if message %}
            <p class='error-detail'>{{message}}</p>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}