{% extends "portal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智友文化 - 师资介绍 {% endblock %}

{% block content %}
<style type='text/css'>
	p {
		text-indent:2em;
	}

	.bold {
		font-weight: bold;
	}

	.indent {
		text-indent: 4em;
	}
</style>

<div id='sudoku' class='container'>
	<div class="col-lg-12 col-md-12 col-sm-12 well">
	  	<h3>数组教研组 — 陈岑</h3>
	  	<p>陈岑，现为北京市数独运动协会常务理事，2007年毕业于北京大学哲学系，2009年开始专职从事数独项目工作，是中国最早参加世界数独锦标赛的选手，并多次取得优异成绩，被誉为中国数独第一人。目前，陈岑是世界智力谜题联合会五位常务理事之一，也是亚洲地区唯一一位常务理事，也是世智联有史以来第一位女性常务理事。从2010年开始陈岑连续三年担任中国数独国家队队长，并率队获得了2012年世锦赛团体季军， 2013年世锦赛团体、个人和18岁以下三项冠军，一举站上了世界数独界最高峰，实现了历史性的突破。</p>
		<p>现在，除了率队参加国际数独比赛以外，陈岑更多地承担了培养数独新人和制定赛事规则、设计赛事题目、开展数独讲座等普及推广工作。此外，陈岑还担任中国数独国家少年队总教练职务，是2011年、2012年北京国际数独大奖赛、2013年北京数独世锦赛的总裁判长。独乐乐不如众乐乐！在充满神奇魅力的数独世界中，陈岑一直在辛勤耕耘传播着快乐！</p>
		<br/>

		<p class='bold'>参赛经历及成绩：</p>
			<p class='indent'>2009年至今代表国家参加6次世界数独锦标赛，3次世界谜题锦标赛，参加多项数独国际大奖赛。</p>
		<br/>
		
		<p class='bold'>个人：</p>
			<p class='indent'>2010年、2012年世界数独锦标赛个人第七名，当年女子最好成绩。</p>
	    	<p class='indent'>2010年泰国国际数独公开赛亚军。</p>
	    <br/>
		
		<p class='bold'>团体：</p>
			<p class='indent'>2012年、2014年世界数独锦标赛团体季军。</p>
		<br/>
		
		<p class='bold'>参与组织：</p>
			<p class='indent'>2011年、2012年北京国际数独大奖赛</p>
			<p class='indent'>2013年世界数独锦标赛</p>
			<p class='indent'>2015年世界青少年数独锦标赛</p>
			<p class='indent'>2011-2015年中国数独锦标赛</p>
			<p class='indent'>2013-2015年北京中小学数独比赛</p>
			<p class='indent'>2012-2015年全国大学生数独挑战赛</p>
			<p class='indent'>2011年全国红领巾“快乐数独”活动</p>
		<br/>

		<p class='bold'>题目及赛制设计：</p>
			<p class='indent'>2011年、2012年北京国际数独大奖赛</p>
			<p class='indent'>2013年世界数独锦标赛</p>
			<p class='indent'>2015年世界青少年数独锦标赛</p>
			<p class='indent'>2011-2015年中国数独锦标赛</p>
			<p class='indent'>2013-2015年北京中小学数独比赛</p>
			<p class='indent'>2012-2015年全国大学生数独挑战赛</p>
			<p class='indent'>2011年全国红领巾“快乐数独”活动</p>
		<br/>

		<p class='bold'>供题：</p>
			<p class='indent'>2015年迎春杯初赛</p>
		<br/>

		<p class='bold'>出版：</p>
			<p class='indent'>《挑战数独》</p>
		</br>

		<p class='bold'>培训经历：</p>
			<p class='indent'>培训各地数独教师400余人次</p>
	      	<p class='indent'>数独进大学校园讲座20余场</p>
	      	<p class='indent'>负责国家队、国少队培训</p>
	      	<p class='indent'>全国各地开展数独讲座百余场</p>
		<br/>
	</div>
</div>

<div id='go' class='container'>
	<div class="col-lg-12 col-md-12 col-sm-12 well">
	  	<h3>围棋教研组 — 薛磊</h3>
	  	<p>薛磊，职业四段，作为北京大学棋牌冬令营史上招收的段位最高的特长生，于2013年在城市与环境学院获得硕士学位。虽然考入大学之后不再是职业一线棋手，但一直在为围棋文化的发展，尤其是大学生围棋的普及而努力，曾担任北京大学围棋队队长，代表中国围棋协会出访美国围棋大会，领导学生社团服务于世界智力运动会，创办了北京市大学生围棋联赛，是中国围棋职业棋手转型的成功典范。除了优秀的个人成绩和对社团的成功管理，薛磊对围棋发展有着自己的理解：围棋，不仅是竞技体育，也是文化的传承和逻辑的熏陶。所以，他希望每一位学围棋的爱好者都能从了解围棋的过程中，体会到围棋的多元化魅力。</p>
		<p>现在，担任围棋教学工作的薛磊致力于提高围棋教师的职业素质，建立科学系统的教学体系，并从文化传播角度让学生体会到围棋知识和价值的传递。</p>
		<br/>
		<p class='bold'>参赛经历及成绩简介：</p>
			<p class='indent'>1998年全国围棋定段赛第六名并晋升职业初段，同年入选中国国家少年队，2001年代表天津队参加全国围棋甲级联赛；</p>
			<p class='indent'>2007年获亚洲大学生围棋锦标赛团体冠军，个人亚军；</p>
			<p class='indent'>2011年巴黎围棋公开赛个人亚军。</p>
		<br/>
	</div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}