{% extends "portal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 围棋介绍 {% endblock %}

{% block content %}
<style type='text/css'>
	p {
		text-indent:2em;
	}
</style>

<img class='fullscreen' src="/static/img/go/go_banner.jpg" alt="围棋介绍">
<div id='go' class='container'>
	<div class="row">
	    <div class="col-sm-3 col-md-6 col-lg-6">
	    	<div class='page-title'>什么是围棋？</div>
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/go/go1.png" alt="围棋">
	        	<div class="caption">
	          		<p>围棋使用方形格状棋盘及黑白二色圆形棋子进行对弈，棋盘上有纵横各19条直线将棋盘分成361个交叉点，棋子走在交叉点上，双方交替行棋，落子后不能移动，以围地多者为胜。中国古代围棋是黑白双方在对角星位处各摆放两子（对角星布局），由白棋先行。现代围棋由日本发展而来，取消了座子规则，黑先白后，使围棋的变化更加复杂多变。</p>
	        	</div>
	      	</div>
	    </div>
	    <div class="col-sm-3 col-md-6 col-lg-6">
	    	<div class='page-title'>为什么要学习围棋？</div>
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/go/go2.png" alt="围棋">
	        	<div class="caption">
	        		<h5 style="font-weight: bold;">开发智力get√</h5>
	          		<p>围棋是开发智力最好的选择。世界上的益智游戏一共有1000多类，难度最大的就是围棋。</p>
	        	</div>
	        	<img class='img-responsive' src="/static/img/go/go3.png" alt="围棋">
	        	<div class="caption">
	        		<h5 style="font-weight: bold;">创性思维培养get√</h5>
	          		<p>围棋的过程是独特的思维的过程，每一手棋都要经过大脑不断的思考与检验，是从形象思维到逻辑思维不断转换跳跃的过程，在这种跳跃间逐步实现对儿童创性思维的培养。</p>
	        	</div>
	        	<img class='img-responsive' src="/static/img/go/go4.png" alt="围棋">
	        	<div class="caption">
	        		<h5 style="font-weight: bold;">专注精神培养get√</h5>
	          		<p>学习围棋有利于集中儿童的注意力。围棋盘上始终都充满了紧张激烈的战斗，任何时候都不能有注意力的分散和松懈。</p>
	        	</div>
	      	</div>
	    </div>
	</div>

	<div class='page-title'>围棋教师团队介绍</div>
	<div class="row">
		<div class="col-sm-3 col-md-6 col-lg-6">
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/go/go6.jpg" alt="薛磊">
	        	<div class="caption">
	        		<h3 style="font-weight: bold;">薛磊</h3>
	          		<p>职业四段。原国家围棋少年队成员、前北京大学围棋队队长。亚洲大学生围棋锦标赛团体冠军，个人亚军；巴黎围棋公开赛个人亚军获得者。考入北大之后，薛磊一直在为围棋文化的发展普及而努力，曾代表中国围棋协会出访美国围棋大会，创办北京市大学生围棋联赛，是中国围棋职业棋手转型的成功典范。薛磊认为，围棋，不仅是竞技体育，也是文化的传承和逻辑的熏陶。所以，他致力于提高围棋教师的职业素质，建立科学系统的教学体系，并且从多元文化角度让学生体会到围棋知识和价值的传递。</p>
	        	</div>
	        </div>
	    </div>
	    <div class="col-sm-3 col-md-6 col-lg-6">
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/go/go7.jpg" alt="袁硕">
	        	<div class="caption">
	        		<h3 style="font-weight: bold;">袁硕</h3>
	          		<p>业余5段，北京科技大学围棋队队长。第十五届世界大学生业余围棋混双赛第6名。从小一直学习围棋的袁硕，对围棋有发自内心的热爱。在大学期间，他也积极参加大学间的种种围棋推广活动。围棋对于他来说不仅仅是棋盘棋子，更像是一个朋友，他希望通过他的双手，让更多的人能够爱上围棋，从学习围棋中感受到快乐。</p>
	        	</div>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}