{% extends "portal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 首页{% endblock %}

{% block content %}
{{ user.username }}
<style type="text/css">
  p {
    text-indent: 2em;
  }

  .index-button {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
  }

  .index-button + .index-button {
    margin-left: 15px;
  }

  .fullscreen {
    max-width: 100%;
    height: auto;
    display: block;
    clear: both;
    margin:auto;
  }
</style>

<img class='fullscreen' src="/static/img/banner.jpg" alt="首页">
<br/>
<div class='container'>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="thumbnail">
        <img src="/static/img/sudoku/sudoku.jpg" alt="数独">
        <div class="caption">
          <h3>数独</h3>
          <p>数独（すうどく，Sūdoku）是一种运用纸、笔进行演算的逻辑游戏。玩家需要根据9×9盘面上的已知数字，推理出所有剩余空格的数字，并满足每一行、每一列、每一个粗线宫内的数字均含1-9，不重复。数独盘面是个九宫，每一宫又分为九个小格。在这八十一格中给出一定的已知数字和解题条件，利用逻辑和推理，在其他的空格上填入1-9的数字。使1-9每个数字在每一行、每一列和每一宫中都只出现一次，所以又称“九宫格”。</p>
          <p>学习数独对于提高人的逻辑推理和计算能力有很大的帮助。近年来数独受到越来越多的关注，广泛开展于中小学生中，中国选手在国际上也有出色的表现。</p>
        </div>
        <div class='index-button'>
          <a href="/sudoku_detail" class="btn btn-default index-button" role="button">了解更多</a>
          <!-- <a href="/course_register?type=2" class="btn btn-primary index-button" role="button">所有课程</a> -->
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="thumbnail">
        <img src="/static/img/bridge/bridge.jpg" alt="桥牌">
        <div class="caption">
          <h3>桥牌</h3>
          <p>桥牌起源于英国，是一项风靡全球的高雅、文明、竞技性很强的智力运动。桥牌运动有助于提高人们的智力、逻辑推理和解决问题的能力。</p>
          <p>长期参与桥牌运动，能够使您增长智慧、陶冶情操，帮助您遇事考虑全面、临危不乱。桥牌运动也是当今社会社交活动的方式之一。</p>
        </div>
        <div class='index-button'>
          <a href="/bridge_detail" class="btn btn-default index-button" role="button">了解更多</a>
          <!-- <a href="/course_register?type=1" class="btn btn-primary index-button" role="button">所有课程</a> -->
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="thumbnail">
        <img src="/static/img/go/go.jpg" alt="围棋">
        <div class="caption">
          <h3>围棋</h3>
          <p>围棋是一项智力游戏，起源于中国，有超过三千年的历史。围棋蕴涵着古代哲学中一元生两仪、两仪生四象、四象生八卦、天圆地方、十九农节气、三百六十周天之数等等含义，其变化丰富，意韵深远，魅力无穷。</p>
          <p>学习围棋能锻炼人的思维、提高人的智力。作为中国传统优秀文化瑰宝，围棋现已成为素质教育的载体，对于提高学生的整体素质和能力起着积极的作用。</p>
        </div>
        <div class='index-button'>
          <a href="/go_detail" class="btn btn-default index-button" role="button">了解更多</a>
          <!-- <a href="/course_register?type=3" class="btn btn-primary index-button" role="button">所有课程</a> -->
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="thumbnail">
        <img src="/static/img/xiangqi/xiangqi.jpg" alt="象棋">
        <div class="caption">
          <h3>象棋</h3>
          <p>象棋，亦作“象碁”、中国象棋（英文名Xiangqi），汉族棋类益智游戏，在中国有着悠久的历史，先秦时期已有记载。属于二人对抗性游戏的一种，由于用具简单，趣味性强，成为流行极为广泛的棋艺活动。主要流行于华人及汉字文化圈的国家，象棋是中国正式开展的78个体育运动项目之一。是首届世界智力运动会的正式比赛项目之一。</p>
          <p>此外，高材质的象棋也具有收藏价值，如：高档木材、玉石等为材料的象棋。更有文人墨客为象棋谱写了诗篇，使象棋更具有一种文化色彩。</p>
        </div>
        <div class='index-button'>
          <a href="/xiangqi_detail" class="btn btn-default index-button" role="button">了解更多</a>
          <!-- <a href="/course_register?type=4" class="btn btn-primary index-button" role="button">所有课程</a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12" style="background-color:#f39800;color:#fff">
  <br/>
  <h3 align='center'>志存高远 砥砺前行</h3>
  <br/>
  <p style='text-indent:2em;'>智益加是一家朝气蓬勃的智力运动教育机构，致力于打造全国最专业、最精致的智力运动培训、推广社区。我们的愿景是通过在青少年中推广健康有益的智力运动，开发智力、培养兴趣，向大众传播智力运动中所蕴含的文化和人生哲理。</p>

  <br/>
  <p style='text-indent:2em;'>
    我们的教学团队负责人全部来自北大、清华，均是各自项目中的顶级选手，如桥牌国手刘京、中国数独第一人陈岑、以及国内围棋和象棋棋手中拥有最高学历的薛磊四段和杨晛棋协大师。我们的教学团队有着对项目最深刻的理解、最先进的理念和教学方法，可以帮助学生快速提升学习效果，全方位的提高学生的素质。智益加课程全部由教学团队自主研发，不仅具有国内外项目教学方面的深刻理解，也有教育领域的资深顾问进行指导，使得学习内容最实用、最科学、最具时效性。
  </p>
  <br/>
</div>

<div style='background-color: #dfdcd9'>
<img class='fullscreen' src="/static/img/staff.jpg" alt="团队">
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
