{% extends "account_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 用户登录{% endblock %}

{% block content %}
<link href="/static/css/login.css" rel="stylesheet">

<div class='container'>
  <div class='sign-form'>
    {% include 'flash.html' %}
    <h4 class='sign-form-heading' align='center'>用户登录</h4>
    <hr class='sign-padding'/>
    <input id='iusername' type='text' class='form-control' placeholder='请输入您的用户名' required/>
    <input id='ipassword' type='password' class='form-control' placeholder='请输入您的密码' required/>
    <input id='inext' type='hidden' class='form-control' value="{{next}}"/>
    <div>
      <button id='blogin' type='submit' class='btn btn-primary login-button'>登录</button>
      <button id='bregister' type='submit' class='btn btn-default login-button'>注册</button>
      <span align='right'>
        <a id='forget_password' class='sign-reset' href='/reset_password'>忘记密码</a>
      </span>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/login.js"></script>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}