{% block doc -%}
<!DOCTYPE html>
<html lang='zh-CN'>
{%- block html %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Language" content="zh-cn"/>
        <Meta http-equiv="Content-Script-Type" Content="text/javascript">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="keywords" content="智力运动 智力游戏 文化传播 桥牌 围棋 数独 象棋 教育培训">

        {%- block head %}
        <title>{% block title %}{% endblock title %}</title>

        {%- block metas %}
        {%- endblock metas %}

        {%- block styles %}
        <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
        {%- endblock styles %}
        {%- endblock head %}
    </head>

    <body{% block body_attribs %}{% endblock body_attribs %}>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/custom_common.js"></script>
        <link href="/static/css/custom.css" rel="stylesheet">

        {% block body -%}
        {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid content-body">
                <div class="navbar-header">
                    <a href='/index'><img class="navbar-logo" alt="智益加" src="/static/img/logo.png"></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-login" aria-expanded="true">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-login">
                    <ul class="nav navbar-nav navbar-right" align='center'>
                        {% if user %}
                        <li><a class='welcome' href="/user_info?username={{user}}">欢迎{{user}}</a></li>
                        <li><button id='title_btn_logout' class='btn btn-default navbar-button'>注销</button></li>
                        {% else %}
                        <li><button id='title_btn_login' class='btn btn-default navbar-button'>登录</button></li>
                        <li><button id='title_btn_register' class='btn btn-default navbar-button'>注册</button></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {%- endblock navbar %}
        {% block content -%}
        {%- endblock content %}

        <div style="background-color:#414b4f;color:#fff">
            <!-- <br/>
            <div class="col-sm-3 col-md-3 col-lg-4">
                <span>QQ: 智益加智力运动（群号515440943）</span>
            </div>
            <div class="col-sm-3 col-md-4">
                <span>微信公众号: 智益加智力运动</span>
            </div>
            <div class="col-sm-3 col-md-4">
                <span>电话：010-82518790</span>
            </div>
            <br/>
            <hr style="height:1px;border-top:1px solid #666;" /> -->
            <br/>
            <div class='copyright'>Copyright@智益加（北京）教育科技有限公司</div>
            <br/>
        </div>

        {% block scripts %}
        <script src="/static/js/custom_common.js"></script>
        {%- endblock scripts %}
        {%- endblock body %}
    </body>
{%- endblock html %}
</html>
{% endblock doc -%}
