{% block doc -%}
<!DOCTYPE html>
<html lang='zh-CN'>
{%- block html %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Language" content="zh-cn"/>
        <Meta http-equiv="Content-Script-Type" Content="text/javascript">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="keywords" content="智力运动 智力游戏 文化传播 桥牌 围棋 数独 教育培训">

        {%- block head %}
        <title>{% block title %}{% endblock title %}</title>

        {%- block metas %}
        {%- endblock metas %}

        {%- block styles %}
        <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {%- endblock styles %}
        {%- endblock head %}
    </head>

    <body{% block body_attribs %}{% endblock body_attribs %}>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/custom_common.js"></script>
        <link href="/static/css/custom.css" rel="stylesheet">

        {% block body -%}
        {% block navbar %}
        <div class='container'>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand navbar-logo" href="#">智益加</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% if index == 1 %}
                            <li class='active'><a class='title-navbar' href="/index">首页</a></li>
                            {% else %}
                            <li><a class='title-navbar' href="/index">首页</a></li>
                            {% endif %}
                            {% if index == 2 %}
                            <li class='active'><a class='title-navbar' href="/about">关于我们</a></li>
                            {% else %}
                            <li><a class='title-navbar' href="/about">关于我们</a></li>
                            {% endif %}
                            {% if index == 3 %}
                            <li class='active'><a class='title-navbar' href="/fanculty">师资介绍</a></li>
                            {% else %}
                            <li><a class='title-navbar' href="/fanculty">师资介绍</a></li>
                            {% endif %}
                            {% if user %}
                                {% if index == 5 %}
                                <li class='active'><a class='title-navbar' href="/course_register">我要报名</a></li>
                                {% else %}
                                <li><a class='title-navbar' href="/course_register">我要报名</a></li>
                                {% endif %}
                            {% endif %}
                            {% if index == 4 %}
                            <li class='active'><a class='title-navbar' href="/contact">联系我们</a></li>
                            {% else %}
                            <li><a class='title-navbar' href="/contact">联系我们</a></li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right" align='center'>
                            {% if user %}
                            <li><a class='welcome' href="/user_info?username={{user}}">欢迎{{user}}</a></li>
                            <li><button id='title_btn_logout' class='btn btn-default navbar-button'>注销</button></li>
                            {% else %}
                            <li><button id='title_btn_login' class='btn btn-default navbar-button'>登录</button></li>
                            <li><button id='title_btn_register' class='btn btn-default navbar-button'>注册</button></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        {%- endblock navbar %}
        {% block content -%}
        {%- endblock content %}

        <div class='container'>
            <br/><br/><hr/>
            <div class='bottom'>Copyright©智益加（北京）教育科技有限公司 京ICP备16009294</div>
        </div>
        {% block scripts %}
        <script src="/static/js/custom_common.js"></script>
        {%- endblock scripts %}
        {%- endblock body %}
    </body>
{%- endblock html %}
</html>
{% endblock doc -%}
