{% extends "portal_base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 打印听课证 {% endblock %}

{% block content %}
<script type="text/javascript">  
	function printdiv() {
		// 保存页面的原始内容
		var save = document.body.innerHTML;

		// 获取打印内容，生成打印页面
		var data = document.getElementById("div_print").innerHTML;
		document.body.innerHTML = "<html><head><title></title></head><body>" + data + "</body>";  
		window.print();

		// 恢复原始页面内容
		document.body.innerHTML = save;  
		return false;
	}
</script>

<div class='container'>
	<div id="div_print">
		<!-- 将需要的打印内容排放在这里 -->
		<img src = "/static/tmp/test.png">
		<h1>The Div content which you want to print</h1>
	</div>
	
	<input type="button" class='btn btn-primary' onClick="printdiv('div_print');" value="打印听课证">
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
