{% extends "portal_base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}
智益加 - 课程报名
{% endblock %}

{% block content %}
<div class='container'>
	<div class="panel panel-default">
	  	<div class="panel-body">
			<div class="row row-padding">
				<div class="row row-padding" style="display: none;" >
				  	<div class="col-lg-1" align='right'>
					    <span class='group-info'>用户姓名</span><strong class='info-nessecary'>*</strong>
				  	</div>
					<div class="col-lg-5" align='left'>
						<input id='register_user_name' type="text" value="{{username}}" class="form-control"></input>
				  	</div>
				</div>

	  			<div class="col-lg-1" align='left'>
				    <span class='group-info'>课程名称</span>
			  	</div>
				<div class="col-lg-5" align='left'>
					<input id='register_course_name' data-csid="{{courseSchedule.csid}}" data-cid="{{course.cid}}" type="text" class="form-control" readonly value='{{course.name}}'></input>
			  	</div>
			</div>
				<div class="row row-padding">
	  			<div class="col-lg-1" align='left'>
				    <span class='group-info'>班次</span>
			  	</div>
				<div class="col-lg-5" align='left'>
					<input id='register_schedule_name' type="text" class="form-control" readonly value='{{courseSchedule.time}}'></input>
			  	</div>
			</div>

			<div class="row row-padding" >
			  	<div class="col-lg-1" align='left'>
				    <span class='group-info'>授课教师</span>
			  	</div>
				<div class="col-lg-5" align='left'>
					<input id='register_teacher_name' type="text" readonly value="{{teachernames}}" class="form-control"></input>
			  	</div>
			</div>

			<div class="row row-padding" >
			  	<div class="col-lg-1" align='left'>
				    <span class='group-info'>报名费</span>
			  	</div>
				<div class="col-lg-5" align='left'>
					<input id='register_course_amount' type="text" readonly value="￥{{amount|int}}" class="form-control"></input>
			  	</div>
			</div>

			<div class="row row-padding">
			  	<div class="col-lg-1" align='left'>
				    <span class='group-info'>已报人数</span>
			  	</div>
				<div class="col-lg-5" align='left'>
					<input id='register_user_name' type="text" class="form-control" readonly value='{{studentCount}}/{{course.max_student}}'></input>
			  	</div>
			</div>

			<div class="row row-padding">
			  	<div class="col-lg-1" align='left'>
				    <span class='group-info'>支付方式（若需要后续支付，请选择‘未支付’）</span><strong class='info-nessecary'>*</strong>
			  	</div>
				<div class="col-lg-5" align='left'>
					<div class="dropdown">
  						<button id='btn_register_course_paytype' class="btn btn-default dropdown-toggle" type="button" 
  							data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">请选择支付方式
    						<span class="caret"></span>
  						</button>
					    <ul class="dropdown-menu" aria-labelledby="btn_register_course_paytype">
					    	{% for pay in pays %}
						    <li onclick="select_pay('{{pay.type}}', '{{pay.name}}')"><a>{{pay.name}}</a></li>
						    {% endfor %}
					    </ul>
					</div>
			  	</div>
			</div>

			<div class="row row-padding">
			  	<div class="col-lg-1" align='right'></div>
			  	<div class="col-lg-2">
					<button id='btn_register_course' class='btn btn-primary full'>提交报名</button>
			  	</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/static/js/pingpp.js"></script>
<!-- <script type="text/javascript" src="/static/js/pingpp-pc.js"></script> -->

<script type="text/javascript">
    function select_pay(type, name) {
    	$("#btn_register_course_paytype").val(type);
		$("#btn_register_course_paytype").html(name + " <span class='caret'></span>");
    }

    function alipay_wap_pay(orderid) {
        $.ajax({
            url:'/rest/order_pay',
            data: {
                orderid:orderid
            },
            type: 'post',
            cache: false,
            dataType: 'json',
            success: function(data) {
                pingpp.createPayment(data, function(result, err) {
                	if (result) {
                		onPaySuccess(orderid);
                	} else {
                        $.MsgBox.Alert("课程付费", "支付失败，请稍后进入我的订单重试。");
                    }
            	});
            },
            error: function() {
             	$.MsgBox.Alert("课程付费", "支付失败，请稍后进入我的订单重试。");
            }
        })
    }

    function onPaySuccess(orderid) {
        $.ajax({
            url:'/rest/order_pay_success',
            data: {
                orderid:orderid
            },
            type: 'post',
            cache: false,
            dataType: 'json',
            success: function(data) {
            	if (data['error'] == 0) {
            		window.location.href = "/userorders?username" + data['username'];
		    	} else {
		    		$.MsgBox.Alert("课程付费", "您的课程状态异常，请联系智益加工作人员进行处理。");
		    	}
            },
            error: function() {
            	$.MsgBox.Alert("课程付费", "您的课程状态异常，请联系智益加工作人员进行处理。");
            }
        })
    }

    $(document).ready(function() {
	    $("#btn_register_course").bind("click", function() {
	    	var cid = document.getElementById("register_course_name").value;
	    	if (empty_input(cid)) {
				$.MsgBox.Alert("非法参数", "无效的课程编号");
				return;
			}

	    	var username = document.getElementById("register_user_name").value;
	    	if (empty_input(username)) {
				$.MsgBox.Alert("非法参数", "报名的用户名为空");
				return;
			}

	    	var paytype = document.getElementById("btn_register_course_paytype").value;
			if (empty_input(paytype)) {
				$.MsgBox.Alert("非法参数", "请选择支付方式");
				return;
			}

			// 付费流程：提交订单 -> 支付 -> 修改订单状态
			$.ajax({
				url:'/rest/register_course',
			    data: {
			    	"csid": $('#register_course_name').attr('data-csid'),
			    	"cid": $('#register_course_name').attr('data-cid'),
			    	"username": username,
			    	"paytype": paytype
			    },
			    type: 'post',
			    cache: false,
			    dataType: 'json',
			    success: function(data) {
			    	if (data['error'] == 0) {
			    		if (paytype == 0) { //不付费
			    			window.location.href = "/userorders?username=" + username;
		    			} else if (paytype == 3) { //支付宝手机H5支付
	    					alipay_wap_pay(data['rid']);
	    				}
			    	} else {
			    		$.MsgBox.Alert("课程报名", data['cause']);
			    	}
			    },
			    error: function() {
			        $.MsgBox.Alert("课程报名", "请求失败，请稍候重试");
			    }
			})
	    });
	})
</script>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}