{% extends "account_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 用户注册{% endblock %}

{% block content %}
<link href="/static/css/register.css" rel="stylesheet">
<div class='container'>
  <div class='register-form'>
    <h4 class='register-form-heading' align='center'>用户注册</h4>
    <hr class='register-padding'/>
    <div class='input-form'>
      <input id='iusername' type='text' class='form-control' placeholder='用户名' required/>
      <small class='text-info'>&nbsp;（必填）6-30个字符，允许包含字母、数字和下划线</small>

      <input id='ipassword' type='password' class='form-control' placeholder='登录密码' required/>
      <small class='text-info'>&nbsp;（必填）6-18个字符，允许包含字母、数字和下划线</small>

      <input id='ipassword2' type='password' class='form-control' placeholder='确认密码' required/>
      <small class='text-info'>&nbsp;（必填）再次输入您的登录密码</small>

      <input id='iphone' type='text' class='form-control' placeholder='手机号' required/>
      <small class='text-info'>&nbsp;（必填）输入11位手机号</small>

      <input id='iemail' type='email' class='form-control' placeholder='电子邮箱' required/>
      <small class='text-info'>&nbsp;（必填）输入您的电子邮箱地址，在您忘记密码时帮助您找回密码</small>

      <input id='iname' type='text' class='form-control' placeholder='姓名'/>
      <small class='text-info'>（可选）输入您的姓名</small>
      <hr class='register-padding'/>
      <!-- <div class="checkbox">
        <label><input id='cb_terms' type="checkbox">我已阅读并同意<a href='/terms'>智益加用户协议</a></label>
      </div> -->
      <button id='btn_register' type='submit' class='btn btn-primary register-button full'>提交注册</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/register.js"></script>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}