{% extends "account_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 重置密码{% endblock %}

{% block content %}
<link href="/static/css/register.css" rel="stylesheet">
<div class='container'>
  <div class='register-form'>
    <h4 class='register-form-heading' align='center'>重置密码</h4>
    <hr class='register-padding'/>
      <input id='iusername' type='text' class='form-control' placeholder='输入您的用户名' required/>
      <input id='ipassword' type='password' class='form-control' placeholder='输入新密码' required/>
      <small class='text-info'>&nbsp;（必填）6-18个字符，允许包含字母、数字和下划线</small>
      <input id='ipassword2' type='password' class='form-control' placeholder='确认新密码' required/>
      <div class="input-group">
        <input id='iphone' type="text" class="form-control no-padding" placeholder="输入绑定的手机号">
        <span class="input-group-btn">
          <button id='btn_get_code' class="btn btn-primary padding-top" type="button">获取验证码</button>
        </span>
      </div>
      <input id='iverify' type='text' class='form-control' placeholder='输入验证码' required/>

      <hr class='register-padding'/>
      <button id='btn_reset_password' type='submit' class='btn btn-primary register-button full'>确认</button>
</div>

<script src="/static/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/custom_common.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $("#btn_get_code").bind("click", function() {
        var username = document.getElementById("iusername").value;
        var phone = document.getElementById("iphone").value;
        if (!is_valid_phone(phone)) {
          $.MsgBox.Alert("非法输入", "手机号码不合法");
          return;
        }

        $.ajax({
          url:'/rest/request_code',
            data: {"phone":phone},
            type: 'post',
            cache: false,
            dataType: 'json',
            success: function(data) {
              if (data["error"] > 0) {
                $.MsgBox.Alert("获取失败", data["cause"]);
              }
            },
            error: function() {
                $.MsgBox.Alert("获取失败", "请求失败，请稍候重试");
            }
        })

        // 1分钟内只允许请求一次
        var timeout = 60;
        $("#btn_get_code").addClass('disabled');
        var timer = setInterval(function() {
          timeout--;
          if (timeout <= 0) {
            clearInterval(timer);
            $("#btn_get_code").removeClass('disabled');
            $("#btn_get_code").html('获取验证码');
          } else {
            $("#btn_get_code").html(timeout + '秒后重新发送');
          }
        },
        1000);
      });

      $("#btn_reset_password").bind("click", function() {
        var username = document.getElementById("iusername").value;
        var phone = document.getElementById("iphone").value;
        var password = document.getElementById("ipassword").value;
        var password2 = document.getElementById("ipassword2").value;
        var code = document.getElementById("iverify").value;

        if (!is_valid_username(username)) {
          $.MsgBox.Alert("非法输入", "用户名不合法");
        } else if (!is_valid_password(password)) {
          $.MsgBox.Alert("非法输入", "登录密码不合法");
        } else if (password != password2) {
          $.MsgBox.Alert("非法输入", "两次输入的密码不一致");
        } else if (!is_valid_phone(phone)) {
          $.MsgBox.Alert("非法输入", "手机号码不合法");
        } else {
          $.ajax({
            url:'/rest/reset_password',
              data: {"username":username, "password":password, "phone":phone, "code":code},
              type: 'post',
              cache: false,
              dataType: 'json',
              success: function(data) {
                if (data["error"] > 0) {
                  $.MsgBox.Alert("重置失败", data["cause"]);
                } else {
                  window.location.href = "/login";
                }
              },
              error: function() {
                  $.MsgBox.Alert("登录失败", "请求失败，请稍候重试");
              }
          })
        }
      });
    })
</script>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}