{% extends "admin_base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}
智益加 - 查找教室
{% endblock %}

{% block content %}
<div class='container'>
    <h4 id='search_group_id' type="text" style='padding-top:20px;'>共查询到{{ rooms|length }}个结果</h4>
	<table class="table table-striped table-bordered table-hover">
		<tr class='info' align="center">
			<td>#</td>
			<td>名称</td>
			<td>地址位置</td>
			<td>交通信息</td>
			<td>备注</td>
			<td style="width: 140px;" ></td>
		</tr>
		{% for room in rooms %}
		<tr align="center">
			<td>{{room.rid}}</td>
			<td>{{room.name}}</td>
			<td>{{room.location}}</td>
			<td>{{room.traffic}}</td>
			<td>{{room.extend}}</td>
			<td><a href="/update_room?rid={{room.rid}}">编辑</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}