{% extends "portal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 数独介绍 {% endblock %}

{% block content %}
<style type='text/css'>
	p {
		text-indent:2em;
	}
</style>

<img class='fullscreen' src="/static/img/sudoku/sudoku_banner.jpg" alt="数独介绍">
<div id='sudoku' class='container'>
	<div class="row">
	    <div class="col-sm-3 col-md-6 col-lg-6">
	    	<div class='page-title'>什么是数独？</div>
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/sudoku/sudoku1.png" alt="数独">
	        	<div class="caption">
	          		<p>“数独”（Sudoku）一词意思是“单独的数字”或“只出现一次的数字”，是以数字为表现形式的益智运动。9个数字，81个格子，无穷变换，蕴含丰富的逻辑知识。</p>
	        	</div>
	      	</div>
	    </div>
	    <div class="col-sm-3 col-md-6 col-lg-6">
	    	<div class='page-title'>为什么要学习数独？</div>
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/sudoku/sudoku2.png" alt="数独">
	        	<div class="caption">
	        		<h5 style="font-weight: bold;">综合数学思维get√</h5>
	          		<p>数独是最综合的思维能力训练，能培养学生的逻辑推理能力、观察力、想象力、专注力、反应速度，全面提升学生数学竞赛需要具备的所有能力。</p>
	        	</div>
	        	<img class='img-responsive' src="/static/img/sudoku/sudoku3.png" alt="数独">
	        	<div class="caption">
	        		<h5 style="font-weight: bold;">顶级比赛机会get√</h5>
	          		<p>可以参加最顶级的数独比赛：北京中小学数独比赛有100所学校3000中小学生同场竞技；中国数独锦标赛有10赛区近1000人参赛，其中中小学生占60%以上。此外入选国家队可以代表中国参加世界数独锦标赛，中国队连续三年包揽18岁以下年龄组前三名！</p>
	        	</div>
	        	<img class='img-responsive' src="/static/img/sudoku/sudoku4.png" alt="数独">
	        	<div class="caption">
	        		<h5 style="font-weight: bold;">名校入学资格get√</h5>
	          		<p>近两年数独已成为迎春杯几乎每个年级的必考题；数独国家队选手可参加清华、北大自主招生；数独特长有利于申请国外学校；国家队选手金策，从四年级开始接触数独，训练数独5年，2013年获得世界冠军，高一时被清华大学提前录取。</p>
	        	</div>
	        	<img class='img-responsive' src="/static/img/sudoku/sudoku5.png" alt="数独">
	        	<div class="caption">
	        		<h5 style="font-weight: bold;">一战成名机会get√</h5>
	          		<p>越来越多的电视开始举办科学类真人秀节目，德国有《Super Brain》，中国江苏卫视有《最强大脑》。中国《最强大脑》参赛选手孙彻然，从四年级开始接触数独，训练数独4年，2013年获得世界第五的优异成绩，2014年获得中国锦标赛冠军，在“最强大脑”挑战《盲填数独》成功。</p>
	        	</div>
	      	</div>
	    </div>
	</div>

	<div class='page-title'>数独教师团队介绍</div>
	<div class="row">
		<div class="col-sm-3 col-md-6 col-lg-6">
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/sudoku/sudoku7.jpg" alt="陈岑">
	        	<div class="caption">
	        		<h3 style="font-weight: bold;">陈岑</h3>
	          		<p>毕业于北京大学哲学系逻辑学专业的陈岑，成为了国内最早接触数独的人。陈岑从2009年至2012年在世界数独锦标赛中保持国内选手最好成绩，被誉为中国数独第一人。陈岑从2011年开始连续五年担任中国数独国家队队长并担任了中国数独国家少年队总教练职务，培养了孙彻然、戴潭潭、马梦蕾等多位数独国家队青年选手。此外在最近两年，她培养了超过300名数独初级培训师。2016年1月22日江苏卫视“最强大脑”节目聘请陈岑作为专业解说，出题并见证中国立体盲填数独第一人的诞生。</p>
	        	</div>
	        </div>
	    </div>
	    <div class="col-sm-3 col-md-6 col-lg-6">
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/sudoku/sudoku8.jpg" alt="李沫">
	        	<div class="caption">
	        		<h3 style="font-weight: bold;">李沫</h3>
	          		<p>2007代表中国参加第二届世界数独锦标赛，是首批中国数独国家队队员。2012年获得全国大学生数独锦标赛个人第二名，并率队获得团体第三名；2013-2015年连续三年中国数独锦标赛进入全国前30。李沫现任北京数独协会理事一职，有三年数独教学经验，耐心细致，先后在朝阳实验小学、海淀区五一小学开设数独课程，至今为止已培养过超过200名学生，得到了学生和家长的一致好评。</p>
	        	</div>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}