{% extends "portal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 数独介绍 {% endblock %}

{% block content %}
<style type='text/css'>
	p {
		text-indent:2em;
	}

	div {
		text-indent:2em;
	}

	span {
		text-indent:2em;
	}

	td{
		text-align:left;
	}
	.redAndBold{
		color: red;
		font-weight: bold;
	}

	.bold {
		font-weight: bold;
	}

	.normalIndent{
		text-indent: 0em;
	}

	.indent {
		text-indent: 4em;
	}
	.aligncenter { 
		clear: both; 
		display: block; 
		margin:auto; 
	} 
</style>

<div id='sudoku' class='container'>
	<div class="col-lg-12 col-md-12 col-sm-12 well">
	  	<h3>什么是数独？</h3>
	  	<img class='aligncenter' src="/static/img/shudu/shudu1.png" alt="数独">
		<br/>
	  	<p>“数独”（Sudoku）一词意思是“单独的数字”或“只出现一次的数字”，是以数字为表现形式的益智运动。9个数字，81个格子，无穷变换，蕴含丰富的逻辑知识。</p>

	  	<h3>为什么要学习数独？</h3>
	  	<img class='aligncenter' src="/static/img/shudu/shudu2.png" alt="数独">
		<br/>
		<p><span style="font-weight: bold;" >综合数学思维get√</span>。数独是最综合的思维能力训练，能培养学生的逻辑推理能力、观察力、想象力、专注力、反应速度，全面提升学生数学竞赛需要具备的所有能力。</p>

		<img class='aligncenter' src="/static/img/shudu/shudu3.png" alt="数独">
		<br/>
		<p><span style="font-weight: bold;" >顶级比赛机会get√</span>。可以参加最顶级的数独比赛：北京中小学数独比赛有100所学校3000中小学生同场竞技；中国数独锦标赛有10赛区近1000人参赛，其中中小学生占60%以上。此外入选国家队可以代表中国参加世界数独锦标赛，中国队连续三年包揽18岁以下年龄组前三名！</p>
		
		<img class='aligncenter' src="/static/img/shudu/shudu4.png" alt="数独">
		<p><span style="font-weight: bold;" >名校入学资格get√</span>。近两年数独已成为迎春杯几乎每个年级的必考题；数独国家队选手可参加清华、北大自主招生；数独特长有利于申请国外学校；国家队选手金策，从四年级开始接触数独，训练数独5年，2013年获得世界冠军，高一时被清华大学提前录取。</p>
		<br/>

		<img class='aligncenter' src="/static/img/shudu/shudu5.png" alt="数独">
		<p><span style="font-weight: bold;" >一战成名机会get√</span>。越来越多的电视开始举办科学类真人秀节目，德国有《Super Brain》，中国江苏卫视有《最强大脑》。中国《最强大脑》参赛选手孙彻然，从四年级开始接触数独，训练数独4年，2013年获得世界第五的优异成绩，2014年获得中国锦标赛冠军，在“最强大脑”挑战《盲填数独》成功。</p>
		<br/>

		<div style="color: red;font-weight: bold;">
			去哪里学习数独？
		</div>
		<div style="color: red;font-weight: bold;">
			智力运动学习首选智益加！这里是智力运动精英的聚集地！
		</div>
		<img class='aligncenter' src="/static/img/shudu/shudu6.png" alt="数独">
	    <br/>
	    <p>
	    	一、<span style="font-weight: bold;" >机构牛！</span>融合所有智力运动的培训机构国内仅此一家，在这里可以学习和接触最多的智力项目。
	    </p>
	    <p>
	    	二、<span style="font-weight: bold;" >团队牛！</span>智益加各项目负责人均来自北大、清华，有最先进的教学理念与最好的教学方法。
	    </p>
	    <p>
	    	三、<span style="font-weight: bold;" >老师牛！</span>智益加教师团队全部来自一线选手，自己通过多年训练达到国内顶尖水准，因此可以帮助学生快速提升，避免学生浪费学习时间。
	    </p>
	    <p>
	    	四、<span style="font-weight: bold;" >课程牛！</span>智益加课程内容全部由团队自主研发，学习内容最实用、最科学、最有时效性。此外所有项目均采取不到20人的小班授课，教师会关注每位学生的成长。
	    </p>
		
		<div style="font-weight: bold;">
			点击进入
		</div>
		<div style="font-weight: bold;">
			<a style=" color:black;" href="/sudoku_detail">智益加2016年春季数独课程介绍</a>

		</div>
		<div style="font-weight: bold;">
			<a style=" color:black;" href="/bridge_detail">智益加2016年春季桥牌课程介绍</a>
		</div>
		<div style="font-weight: bold;">
			<a style=" color:black;" href="#">智益加2016年春季中国象棋课程介绍</a>
		</div>

		<br />
		<p style="color:red;">数独教师团队介绍</p>
		<img class='aligncenter' src="/static/img/shudu/shudu7.png" alt="陈岑">
		<p>
			<span class="bold">陈岑</span>：毕业于北京大学哲学系逻辑学专业的陈岑，成为了国内最早接触数独的人。陈岑从2009年至2012年在世界数独锦标赛中保持国内选手最好成绩，被誉为中国数独第一人。陈岑从2011年开始连续五年担任中国数独国家队队长并担任了中国数独国家少年队总教练职务，培养了孙彻然、戴潭潭、马梦蕾等多位数独国家队青年选手。此外在最近两年，她培养了超过300名数独初级培训师。2016年1月22日江苏卫视“最强大脑”节目聘请陈岑作为专业解说，出题并见证中国立体盲填数独第一人的诞生。
		</p>
		<img class='aligncenter' src="/static/img/shudu/shudu8.png" alt="李沫">
		<p>
			<span class="bold">李沫</span>：2007代表中国参加第二届世界数独锦标赛，是首批中国数独国家队队员。2012年获得全国大学生数独锦标赛个人第二名，并率队获得团体第三名；2013-2015年连续三年中国数独锦标赛进入全国前30。李沫现任北京数独协会理事一职，有三年数独教学经验，耐心细致，先后在朝阳实验小学、海淀区五一小学开设数独课程，至今为止已培养过超过200名学生，得到了学生和家长的一致好评。
		</p>

		<span class="redAndBold">智益加智力运动中心地址：</span><br />
		<span class="bold">海淀区知春路银网中心B座6层（地铁四号线海淀黄庄站东200米路北）</span>
		<br /><br />
		<span class="redAndBold">智益加数独春季课程安排：</span><br />
		<span class="bold">初级入门班：</span><span>面向8-11岁，零基础的学生</span><br />
		<span>课程时间：3月5日起连续15周，每周2小时 </span><br />
		<span>开班人数：10-20人</span><br />
		<table class="normalIndent" >
			<tr>
				<td style="vertical-align:top">课程目的：</td>
				<td>1. 系统的学习数独最基本的四种逻辑解法，激发学生对数独的兴趣，培养孩子严谨的逻辑思维能力，提升观察力、专注力和反应速度。<br />
					2. 通过一学期的学习能够让学生在规定时间内完成对应难度的题目，达到参加同级别比赛的水平。<br />
				</td>
			</tr>
		</table>
		<br />
		<table style="	text-indent:1em;" border="1px">
			<tr>
				<td style="text-align:center;text-indent:0em;">启蒙班课次</td>
				<td style="text-align:center;">课程名称</td>
				<td style="text-align:center;">具体内容</td>
			</tr>
			<tr>
				<td>1</td>
				<td>数独基本知识</td>
				<td>数独规则、四宫六宫、九宫的单数排除观察</td>
			</tr>
			<tr>
				<td>2</td>
				<td>宫内排除1</td>
				<td>宫内排除完整的解题思路</td>
			</tr>
			<tr>
				<td>3</td>
				<td>宫内排除2</td>
				<td>提示数的标注方式</td>
			</tr>
			<tr>
				<td>4</td>
				<td>宫内排除3</td>
				<td>宫内排除提速训练</td>
			</tr>
			<tr>
				<td>5</td>
				<td>行列排除1</td>
				<td>行列排除的定义及简易行列排除</td>
			</tr>
			<tr>
				<td>6</td>
				<td>复习及测试</td>
				<td>巩固宫内排除法及学习程度测试，为每个学生出具建议报告</td>
			</tr>
			<tr>
				<td>7</td>
				<td>区块排除1</td>
				<td>区块的定义及区块排除的结构示意图</td>
			</tr>
			<tr>
				<td>8</td>
				<td>区块排除2</td>
				<td>解题过程的区块标注及解题思路</td>
			</tr>
			<tr>
				<td>9</td>
				<td>区块排除3</td>
				<td>区块排除提速训练</td>
			</tr>
			<tr>
				<td>10</td>
				<td>行列排除2</td>
				<td>复杂的行列排除利用提示数的观察方法</td>
			</tr>
			<tr>
				<td>11</td>
				<td>行列排除3</td>
				<td>复杂的行列排除的三宫观察法</td>
			</tr>
			<tr>
				<td>12</td>
				<td>数对占位1</td>
				<td>数对的定义及数对占位的结构示意图</td>
			</tr>
			<tr>
				<td>13</td>
				<td>数对占位1</td>
				<td>数对卡点的专项练习</td>
			</tr>
			<tr>
				<td>14</td>
				<td>数对占位1</td>
				<td>数独占位法的完整解题思路</td>
			</tr>
			<tr>
				<td>15</td>
				<td>复习及测试</td>
				<td>巩固所学解法及学习程度测试，为每个学生出具建议报告</td>
			</tr>
		</table>
		<span>具体课程可能会根据实际教学进度微调，以实际教学为准。</span>
		<br /><br />

		<span>具体班次:</span>
		<table style="	text-indent:1em;" border="1px">
			<tr>
				<td style="text-indent:0em;">序号</td>
				<td style="text-indent:1em;">时间</td>
				<td style="text-indent:1em;">地点</td>
				<td style="text-align:center;">授课老师</td>
			</tr>
			<tr>
				<td>1</td>
				<td>每周六13:30-15:30</td>
				<td>银网大厦教学点3教室</td>
				<td>陈岑</td>
			</tr>
			<tr>
				<td>2</td>
				<td>每周六15:50-17:50</td>
				<td>银网大厦教学点3教室</td>
				<td>陈岑</td>
			</tr>
				<tr>
				<td>3</td>
				<td>每周日10:20-12:20</td>
				<td>银网大厦教学点3教室</td>
				<td>李沫</td>
			</tr>
				<tr>
				<td>4</td>
				<td>每周日13:30-15:30</td>
				<td>银网大厦教学点3教室</td>
				<td>李沫</td>
			</tr>
				<tr>
				<td>5</td>
				<td>每周日15:50-17:50</td>
				<td>银网大厦教学点3教室</td>
				<td>李沫</td>
			</tr>
		</table>
		<span>其他时间可攒班，10人开课。</span>
		<br /><br />

		<span class="normalIndent"><span class="bold">课程费用：</span>15次课，每次240元</span>
		<br /><br />

		<span class="normalIndent bold">开业优惠：</span>
		<span class="normalIndent">前3次免费体验，240元×12次=2880元</span><br />
		<span class="normalIndent">两人同报折上8折：2304元</span><br />
		<span class="normalIndent">三人以上同报折上7折：2016元</span>
		<br /><br />

		<span class="bold">初级提高班：</span><span>面向9-15岁，自己做数独一年以上或在学校等其他地方学过一学期的学生</span><br />
		<span>课程时间：3月5日起连续15周，每周2小时 </span><br />
		<span>开班人数：10-20人</span><br />
		<table class="normalIndent" >
			<tr>
				<td style="vertical-align:top">课程目的：</td>
				<td>1. 系统的学习数独多种解法和变型数独初探，在培养严密的思维逻辑能力基础上，提升孩子的解题速度。<br />
					2. 通过一学期的学习能够让学生在数独比赛中脱颖而出！<br />
				</td>
			</tr>
		</table>
		<br />
		<table style="	text-indent:1em;" border="1px">
			<tr>
				<td style="text-align:center;text-indent:0em;">启蒙班课次</td>
				<td style="text-align:center;">课程名称</td>
				<td style="text-align:center;">具体内容</td>
			</tr>
			<tr>
				<td>1</td>
				<td>宫内排除法</td>
				<td>宫内排除法的提速训练及提示数的标注</td>
			</tr>
			<tr>
				<td>2</td>
				<td>区块排除法</td>
				<td>区块的多种形式和应用</td>
			</tr>
			<tr>
				<td>3</td>
				<td>行列排除法</td>
				<td>行列排除的观察方法</td>
			</tr>
			<tr>
				<td>4</td>
				<td>数对占位1</td>
				<td>数独占位法的标注方法</td>
			</tr>
			<tr>
				<td>5</td>
				<td>数对占位2</td>
				<td>数独占位法的解题思路</td>
			</tr>
			<tr>
				<td>6</td>
				<td>复习及测试</td>
				<td>巩固宫内排除法及学习程度测试，为每个学生出具建议报告</td>
			</tr>
			<tr>
				<td>7</td>
				<td>数组占位法</td>
				<td>数组占位法的标注及观察方法</td>
			</tr>
			<tr>
				<td>8</td>
				<td>唯一余数1</td>
				<td>唯一余数法的观察方法</td>
			</tr>
			<tr>
				<td>9</td>
				<td>唯一余数2</td>
				<td>唯一余数法的全标方法</td>
			</tr>
			<tr>
				<td>10</td>
				<td>对角线数独</td>
				<td>对角线数独的排除法</td>
			</tr>
			<tr>
				<td>11</td>
				<td>不规则数独</td>
				<td>7宫不规则数独的排除法</td>
			</tr>
			<tr>
				<td>12</td>
				<td>不规则数独</td>
				<td>9宫不规则数独的排除法</td>
			</tr>
			<tr>
				<td>13</td>
				<td>杀手数独</td>
				<td>杀手数独的入手解法</td>
			</tr>
			<tr>
				<td>14</td>
				<td>杀手数独</td>
				<td>杀手数独的多种解法</td>
			</tr>
			<tr>
				<td>15</td>
				<td>复习及测试</td>
				<td>巩固所学解法及学习程度测试，为每个学生出具建议报告</td>
			</tr>
		</table>
		<span>具体课程可能会根据实际教学进度微调，以实际教学为准。</span>
		<br /><br />

		<span>具体班次:</span>
		<table style="	text-indent:1em;" border="1px">
			<tr>
				<td style="text-indent:0em;">序号</td>
				<td style="text-indent:1em;">时间</td>
				<td style="text-indent:1em;">地点</td>
				<td style="text-align:center;">授课老师</td>
			</tr>
			<tr>
				<td>1</td>
				<td>每周六18:30-20:30</td>
				<td>银网大厦教学点3教室</td>
				<td>陈岑</td>
			</tr>
			<tr>
				<td>2</td>
				<td>每周日15:50-17:50</td>
				<td>银网大厦教学点3教室</td>
				<td>陈岑</td>
			</tr>
		</table>
		<span>其他时间可攒班，10人开课。</span>
		<br /><br />

		<span class="normalIndent"><span class="bold">课程费用：</span>15次课，每次300元</span>
		<br /><br />

		<span class="normalIndent bold">开业优惠：</span>
		<span class="normalIndent">前3次免费体验，240元×12次=3600元</span><br />
		<span class="normalIndent">两人同报折上8折：2880元</span><br />
		<span class="normalIndent">三人以上同报折上7折：2520元</span>
		<br /><br />

		<span class="bold" >分享到微信朋友圈集齐20个赞并在报名时出示，再减100元！</span>
		<br /><br />

		<span class="redAndBold">问与答</span><br />
		<span>Q：什么时间，在哪可以报名？</span><br />
		<span>
			A：家长可以先加入智益加的咨询微信群或者QQ群（见下图），并且用微信预报名，在2月1日之后家长可以选择到我们的教室交费报名，或者联系我们并使用支付宝进行报名。
		</span>
		<br /><br />

		<span>Q：家长是否可以旁听？</span><br />
		<span>A：我们非常欢迎家长一起旁听课程，无论家长是否有围棋基础。</span>
		<br /><br />

		<span>Q：学生学完一学期，还有兴趣，想要继续学习和参加竞赛怎么办？</span><br />
		<span>A：智益加极具能力的教学团队将会给在智力运动方面有兴趣的学生提供广阔的发展空间。我们将会在下面的学期开设中级课程，并且组织队伍参加国内乃至世界比赛，非常欢迎有兴趣的学生继续学习，老生还会享受更多优惠哦！</span>
		<br /><br />

		<span class="bold">任何问题，报名信息请咨询：</span><br />
		<span>陈老师 13269890077</span><br />
		<span>刘老师 </span>
		<br /><br />

		<span class="bold">咨询微信群（2月3日之前有效）：</span><br />
		<img class='' style="width:185px;height:185px;" src="/static/img/shudu/shudu9.png" alt="数独">
		<br /><br />

		<span class="bold">咨询QQ群（群号515440943）：</span><br />
		<img class='' style="width:185px;height:185px;" src="/static/img/shudu/shudu10.png" alt="数独">
		<br /><br />

		<span>联系地址（2月1日起欢迎来访）：海淀区知春路银网中心B座6层（地铁四号线海淀黄庄站东200米路北）</span>
		<br /><br />

		<span class="redAndBold">快来智益加学习一项智力运动吧！</span>

	</div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}