{% extends "account_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 用户协议{% endblock %}

{% block content %}
<link href="/static/css/custom.css" rel="stylesheet">
<style type="text/css">
  .terms-heading {
    margin-top: 50px;
    margin-bottom: 50px;
    color:#333;
    font-size:32px;
    text-align: center;
  }
  .terms-summary {
    color: #666;
    font-size: 18px;
    line-height: 30px;
  }
  .terms-detail {
    color: #666;
    font-size: 14px;
    line-height: 25px;
    list-style-type: none;
  }
  .terms-indent {
    text-indent: 2em;
  }
</style>
<div class='container'>
  <p class="terms-heading">用户协议</p>
  <p class='terms-summary terms-indent'>本协议系由智益加（北京）教育科技有限公司（以下简称「本公司」、「本网站」或「甲方」）与所有使用 智益加 服务的主体（包括但不限于个人、团队、企业等，以下简称「用户」、「您」或「乙方」）对智益加服务及相关服务的使用所订立的有效合约。用户使用 智益加 服务的任何行为即表示接受本协议的全部条款。本协议适用于任何 智益加 服务，包括本协议期限内的用户所使用的各项服务和软件的升级与更新。</p><br/>

  <ol class='terms-summary'>
    <li>总则
      <ul class='terms-detail'>
        <li>1.1 乙方确认：乙方在使用本协议约定服务之前，已充分阅读、理解并接受本协议及本网站上公示的服务规则、声明等全部内容，一旦乙方选择签署本协议及在本网站上完成注册程序，即表示乙方同意遵循本协议及本网站上公示的服务规则、声明等所有约定。</li>
        <li>1.2  乙方同意：在不影响乙方获得本协议约定的服务的前提下，甲方有权对本网站上公示相应的服务规则、声明等内容进行单方面的变更，并以消息推送、网页公告等方式予以公布，无需另行单独通知乙方；若乙方在甲方公告变更后继续使用甲方服务，则表示乙方已充分阅读、理解并接受修改后的协议及规则、声明等内容，并将遵循修改后的协议及规则、声明等内容来使用甲方服务；若乙方不同意修改后的协议及规则、声明等内容，乙方应立即终止本协议。</li>
        <li>1.3  乙方承诺：乙方将本着合法、合理、善意的目的使用本协议约定服务，不利用本协议约定服务进行任何违法、侵害他人合法利益、恶意的行为。</li>
      </ul>
    </li>
    <br/>
    <li>账号
      <ul class='terms-detail'>
        <li>2.1 乙方应当用真实的个人或企业信息进行注册；在乙方完成注册程序或以其他甲方允许的方式实际使用本协议约定服务时，乙方应当是具备完全民事权利能力和完全民事行为能力的自然人、法人或其他团队。若乙方不具备前述主体资格，则乙方及乙方的监护人、发起人应承担因此而导致的一切后果，且甲方有权注销乙方的账号及删除乙方相关信息，并向乙方及乙方的监护人、发起人索偿。</li>
        <li>2.2 乙方了解并同意，乙方在本网站完成注册程序并注册成功后，乙方即已获得本协议约定服务的用户名及密码。</li>
        <li>2.3 在完成注册流程时，乙方应当按照法律法规要求，按相应页面的提示准确提供并及时更新乙方的资料，以使之真实、及时，完整和准确。如有合理证据证明乙方提供的资料错误、不实、过时或不完整的，甲方有权向乙方发出询问及／或要求改正的通知，乙方需及时改正相关资料信息。经甲方通知，若乙方在合理的期限内未做回应或改正，甲方有权终止对乙方提供部分或全部服务。甲方对此不承担任何责任，乙方将承担因此产生的任何直接或间接损失及不利后果。</li>
        <li>2.4 乙方应当准确填写并及时更新乙方提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便甲方与乙方进行有效联系；乙方了解并同意，乙方有义务保持乙方提供的联系方式的有效性，如有变更需要更新，乙方应按协议约定或本网站上的规定进行操作。</li>
        <li>2.5 乙方须自行负责对乙方的用户名和密码保密，且须对乙方在该用户名和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。乙方同意：(a)如发现任何人未经授权使用乙方的用户名和密码，或发生违反保密规定的任何其他情况，乙方会立即通知甲方，并授权甲方作出处理；及 (b) 确保乙方在每个上网时段结束时，以正确步骤离开网站。甲方不能也不会对因乙方未能遵守本款规定而发生的任何损失或损毁负责。乙方理解甲方对乙方的请求采取行动需要合理时间，甲方对在采取行动前已经产生的后果（包括但不限于乙方的任何损失）不承担任何责任。除非有法律规定或司法裁定，且征得甲方的同意，否则乙方的用户名和密码不得以任何方式转让、赠与或继承（与账号相关的财产权益除外）。因他人未经授权使用乙方的用户名和密码造成的损失由甲乙双方依据各自过错承担相应责任并可依法向擅用人追偿，甲方应当尽可能保证乙方的账号安全但不保证乙方账号安全的绝对性。</li>
        <li>2.6 甲方保留在乙方违反国家、地方法律法规规定或违反本协议条款的情况下中止或终止为乙方提供服务并删除乙方所存储的数据、文件的权利。</li>
        <li>2.7 乙方同意并授权甲方，当乙方在本网站有欺诈、发布或销售伪劣商品、侵犯他人合法权益或其他严重违反任意本网站规则的行为时，甲方对此有权披露，乙方的用户名可以被甲方注销，不能再登录本网站，本网站服务同时终止（有权不再保存乙方所存储的数据、文件）。</li>
      </ul>
    </li>
    <br/>
    <li>乙方的权利和义务
      <ul class='terms-detail'>
        <li>3.1 乙方保证不会利用技术或其他手段破坏或扰乱本网站及甲方其他客户的网站。</li>
        <li>3.2 乙方应尊重甲方及其他第三方的知识产权和其他合法权利。甲方保留乙方侵犯甲方合法权益时终止向乙方提供服务、删除乙方存储的数据、文件并不退还任何款项的权利。</li>
        <li>3.3 乙方保证乙方使用本协议约定服务时将遵从国家、地方法律法规、行业惯例和社会公共道德，不会利用甲方提供的服务进行上传、下载、存储、发布、传播如下信息和内容：(a) 违反国家法律法规政策的任何内容（信息）；(b) 违反国家规定的政治宣传和／或新闻信息；(c) 涉及国家秘密和／或安全的信息；(d) 封建迷信和／或淫秽、色情、下流的信息或教唆犯罪的信息；(e) 博彩有奖、赌博游戏；(f) 违反国家民族和宗教政策的信息；(g) 防碍互联网运行安全的信息；(h) 侵害他人合法权益的信息和／或其他有损于社会秩序、社会治安、公共道德的信息或内容；(i) 含有盗版音频、视频、图片、图书和／或其他任何侵犯第三方任何合法权益作品的内容。乙方同时承诺不得为他人发布上述不符合国家规定和／或本协议约定服务条款约定的信息内容提供任何便利，包括但不限于设置 URL、banner（广告横幅）链接等。乙方承认甲方有权在乙方违反上述约定时终止向乙方提供服务、删除乙方存储的数据／文件并不予退还任何款项。因乙方上述行为，导致甲方或甲方合作方面临任何投诉、举报、质询、索赔、诉讼；或使甲方或甲方合作相对方因此遭受任何名誉、声誉或者财产上的损失，乙方应积极采取一切其可能采取的措施，以保证甲方及甲方合作相对方免受上述索赔、诉讼的影响。同时，乙方对甲方及甲方合作相对方因此遭受的直接及间接经济损失负有全部的损害赔偿责任。</li>
      </ul>
    </li>
    <br/>
    <li>甲方的权利和义务
      <ul class='terms-detail'>
        <li>4.1 甲方承诺对乙方的账号信息及存储资料采取保密措施，不得以非法手段获取、使用乙方账号信息及资料，不向任何第三方披露乙方的账号信息及资料，不授权任何第三方使用乙方账号信息及资料，除非：(1)依据本协议条款或者乙方与甲方之间其他服务协议、合同、在线条款等规定可以提供；(2)依据法律法规的规定应当提供；(3)行政、司法等职权部门要求甲方提供；(4)乙方书面授权甲方向第三方提供；(5)甲方为解决投诉、举报事件、提起诉讼而需要提供；(6)甲方为防止严重违法行为或涉嫌犯罪行为发生而采取必要合理行动所必须提交的；(7)甲方为向乙方提供产品、服务、信息而需要向第三方提供，包括甲方通过第三方的技术及服务向乙方提供产品、服务、信息的情况。</li>
        <li>4.2 若甲方经由通知、举报等途径，发现任何存在于乙方在使用甲方提供之服务过程中相关产品中的违法、侵权信息和／或色情内容，无论其为乙方自行或受托制作、开发、上传、发布，或为其他第三方制作、开发、上传、发布，甲方均有权在第一时间将本条约定之违法、侵权信息和／或内容予以移除。</li>
        <li>4.3 乙方保证乙方使用本协议约定服务时将遵从国家、地方法律法规、行业惯例和社会公共道德，不会利用甲方提供的服务进行上传、下载、存储、发布、传播如下信息和内容：(a) 违反国家法律法规政策的任何内容（信息）；(b) 违反国家规定的政治宣传和／或新闻信息；(c) 涉及国家秘密和／或安全的信息；(d) 封建迷信和／或淫秽、色情、下流的信息或教唆犯罪的信息；(e) 博彩有奖、赌博游戏；(f) 违反国家民族和宗教政策的信息；(g) 防碍互联网运行安全的信息；(h) 侵害他人合法权益的信息和／或其他有损于社会秩序、社会治安、公共道德的信息或内容；(i) 含有盗版音频、视频、图片、图书和／或其他任何侵犯第三方任何合法权益作品的内容。乙方同时承诺不得为他人发布上述不符合国家规定和／或本协议约定服务条款约定的信息内容提供任何便利，包括但不限于设置 URL、banner（广告横幅）链接等。乙方承认甲方有权在乙方违反上述约定时终止向乙方提供服务、删除乙方存储的数据／文件并不予退还任何款项。因乙方上述行为，导致甲方或甲方合作方面临任何投诉、举报、质询、索赔、诉讼；或使甲方或甲方合作相对方因此遭受任何名誉、声誉或者财产上的损失，乙方应积极采取一切其可能采取的措施，以保证甲方及甲方合作相对方免受上述索赔、诉讼的影响。同时，乙方对甲方及甲方合作相对方因此遭受的直接及间接经济损失负有全部的损害赔偿责任。</li>
      </ul>
    </li>
    <br/>
    <li>隐私及其他个人信息的保护
      <ul class='terms-detail'>
        <li>6.1 登录名和密码：在乙方注册账号时，甲方会要求乙方设置用户名和密码来识别乙方的身份，乙方仅可通过乙方设置的密码来使用该账号，如果乙方泄漏了密码，乙方可能会丢失乙方的个人识别信息，并可能导致对乙方不利的法律后果。该账号和密码因任何原因受到潜在或现实危险时，乙方应该立即和甲方取得联系，甲方应在合理的时间内采取措施防止乙方遭受进一步损失，甲方对非因甲方过错给乙方造成的损失不负任何责任。</li>
        <li>6.2 用户信息：乙方完成账号注册时，应向甲方提供乙方的真实姓名、地址、电话号码和电子邮件地址等。为有针对性地向乙方提供新的服务和机会，乙方了解并同意甲方及其关联公司或乙方登录的其他网站将通过乙方的电子邮件地址或该手机通知乙方这些信息。</li>
        <li>6.3 安全：甲方仅按现有技术提供相应的安全措施来使甲方掌握的信息不丢失，不被滥用和变造。这些安全措施包括向其他服务器备份数据和对用户密码加密。尽管有这些安全措施，但甲方不保证这些信息的绝对安全。</li>
        <li>6.4 不可抗力: 本条所称「不可抗力」是指不能预见、不能避免或不能克服的客观事件，包括但不限于自然灾害如洪水、火灾、爆炸、雷电、地震和风暴等以及社会事件如基础电信运营商网络出现严重电力或网络故障，战争、动乱、政府行为、国家政策的突然变动和罢工等。</li>
        <li>6.5 系统可能因下列状况无法正常运作，使乙方无法使用各项联网服务时，甲方不承担损害赔偿责任但应及时采取合理有效的措施进行补偿，该状况包括但不限于：(1)甲方在系统停机维护期间。(2)电信设备出现故障不能进行数据传输。(3)因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成甲方系统障碍不能执行业务。(4)由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。。</li>
      </ul>
    </li>
    <br/>
    <li>知识产权的保护
      <ul class='terms-detail'>
        <li>除第三方产品或服务外，本网站上所有内容，包括但不限于著作、图片、档案、资讯、资料、架构、页面设计，均由甲方或甲方关联企业依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。非经甲方或甲方关联企业书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表本网站上的程序或内容。</li>
      </ul>
    </li>
    <br/>
    <li>法律适用与管辖
      <ul class='terms-detail'>
        <li>本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，均应依照中华人民共和国法律予以处理，并提交甲方所在地人民法院审理。</li>
      </ul>
    </li>
    <br/>
    <li>其他
      <ul class='terms-detail'>
        <li>本协议任何一条或数条条款，根据任何适用的法律被认定是无效的、不合法的或不能执行的，本协议其他条款的效力、合法性和可执行性不受任何影响或损害，并仍然完全有效； 该等无效的、不合法的和不能执行的条款应以有效的、合法的和能执行且最能表达该等无效、不合法或不能执行的条款本意的条款替代。对本协议未尽事宜的补充或对本协议的修改，双方经协商一致可签署补充协议，补充协议为本协议之有效组成部分。本协议附件、补充协议与本协议具有同等法律效力。本协议内容与补充协议不一致以补充协议为准。补充协议未约定事项依照本协议执行。</li>
      </ul>
    </li>
    <br/>
  </ol>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}