{% extends "admin_base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}
智友文化 - 新增讲师
{% endblock %}

{% block content %}
<div class='container'>
	<div class="panel panel-default">
	  	<div class="panel-body">
			<div class="row row-padding">
	  			<div class="col-lg-1" align='right'>
				    <span class='group-info'>讲师编号</span><strong class='info-nessecary'>*</strong>
			  	</div>
				<div class="col-lg-5" align='left'>
					<input id='update_teacher_id' type="text" class="form-control" readonly value="{{teacher.tid}}"></input>
			  	</div>
			</div>

			<div class="row row-padding">
			  	<div class="col-lg-1" align='right'>
				    <span class='group-info'>用户名</span><strong class='info-nessecary'>*</strong>
			  	</div>
				<div class="col-lg-5" align='left'>
					<input id='update_teacher_name' type="text" class="form-control" readonly placeholder='输入讲师名称' value="{{teacher.username}}"></input>
			  	</div>
			</div>

			<div class="row row-padding">
			  	<div class="col-lg-1" align='right'>
				    <span class='group-info'>科目</span><strong class='info-nessecary'>*</strong>
			  	</div>
				<div class="col-lg-5" align='left'>
					<div class="dropdown">
  						<button id='btn_update_teacher_gtype' class="btn btn-default dropdown-toggle" type="button" 
  							id="group_type_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
  							value="{{teacher.gtype}}">{{gname}}
    						<span class="caret"></span>
  						</button>
					    <ul class="dropdown-menu" aria-labelledby="group_type_dropdown">
					    	{% for gameType in types %}
						    <li onclick="select_gtype('{{gameType.type}}', '{{gameType.name}}')"><a>{{gameType.name}}</a></li>
						    {% endfor %}
					    </ul>
					</div>
			  	</div>
			</div>

			<div class="row row-padding">
			  	<div class="col-lg-1" align='right'>
				    <span class='group-info'>课时费</span><strong style="visibility:hidden">*</strong>
			  	</div>
				<div class="col-lg-5" align='left'>
					<input id='update_teacher_uprice' type="text" class="form-control" value="{{teacher.uprice}}"></input>
			  	</div>
			</div>

			<div class="row row-padding">
			  	<div class="col-lg-1" align='right'></div>
				<div class="col-lg-2">
					<button id='btn_update_teacher' class='btn btn-primary full'>提交</button>
			  	</div>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script src="/static/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="/static/js/update_teacher.js"></script>
<script type="text/javascript">
    $('#datepicker').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
  		autoclose: 1,
  		todayHighlight: 1,
  		startView: 2,
  		minView: 2,
  		forceParse: 0
    });
    function select_gtype(type, name) {
    	$("#btn_update_teacher_gtype").val(type);
		$("#btn_update_teacher_gtype").html(name + " <span class='caret'></span>");
    }
</script>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
