{% extends "portal_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}智益加 - 中国象棋介绍 {% endblock %}

{% block content %}
<style type='text/css'>
	p {
		text-indent:2em;
	}
</style>

<img class='fullscreen' src="/static/img/xiangqi/xiangqi_banner.jpg" alt="象棋介绍">
<div id='xiangqi' class='container'>
	<div class="row">
	    <div class="col-sm-3 col-md-6 col-lg-6">
	    	<div class='page-title'>什么是象棋？</div>
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/xiangqi/xiangqi1.png" alt="象棋">
	        	<div class="caption">
	          		<p>象棋是世界智力运动会的正式比赛项目之一。在中国，象棋有着极高的普及率，无论是知识精英还是市井百姓，几乎都会下象棋，你甚至很难在人群中找到一个没听说过“马走日、相走田”的人。保守估计，我国至少有3-4亿人掌握象棋的基本走法。而在这其中，绝大多数人的水平都处在入门阶段。这也就意味着一个正常孩子经过两到三个学期的正规学习，就可以站在30%人的肩膀之上。</p>
	        	</div>
	      	</div>
	    </div>
	    <div class="col-sm-3 col-md-6 col-lg-6">
	    	<div class='page-title'>为什么要学习象棋？</div>
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/xiangqi/xiangqi2.png" alt="象棋">
	        	<div class="caption">
	        		<h5 style="font-weight: bold;">将领气质培养get√</h5>
	          		<p>象棋的本质是模拟战争，而棋手所扮演的角色就是一名战场的总指挥。在学习象棋的过程中，孩子将逐渐磨练出领导者的能力和气质——逻辑思维能力、专注力和判断力，独立决策的信心和勇气，以及他们面对挫折时的抗压能力。这将会是他们在未来人生中一笔宝贵的财富。</p>
	        	</div>
	        	<img class='img-responsive' src="/static/img/xiangqi/xiangqi3.png" alt="象棋">
	        	<div class="caption">
	        		<h5 style="font-weight: bold;">社会哲理浅读get√</h5>
	          		<p>一马当先、弃车保帅、马后炮、一着不慎满盘皆输……古老的象棋蕴含着深刻的哲理，深刻的哲理又与我们实际的社会生活有着千丝万缕的联系。这个脱胎于中国本土的智力运动，无论是表面的基本技术还是精神内核都倒映着中国社会。孩子注定将走向社会，不妨通过象棋先给他看看社会的缩影。</p>
	        	</div>
	        	<img class='img-responsive' src="/static/img/xiangqi/xiangqi4.png" alt="象棋">
	        	<div class="caption">
	        		<h5 style="font-weight: bold;">以棋会友，结识新朋友get√</h5>
	          		<p>在未来，绿色、健康的社交终将回归。在这个“主要看气质”的时代，以棋会友一定会是一个不错的选择。象棋有着最广泛的群众基础，对于孩子来讲，学习象棋、了解象棋，其实也等于拿到了一把打通成人世界的钥匙。</p>
	        	</div>
	      	</div>
	    </div>
	</div>

	<div class='page-title'>中国象棋教师团队介绍</div>
	<div class="row">
		<div class="col-sm-3 col-md-6 col-lg-6">
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/xiangqi/xiangqi6.jpg" alt="杨晛">
	        	<div class="caption">
	        		<h3 style="font-weight: bold;">杨晛</h3>
	          		<p>棋协大师，本科、研究生就均读于北京大学。1997-2003年连续七次进入全国少年赛前八名，2000年获得北京市等级赛亚军，2001年代表北京象棋队获得全国团体赛第六名。2005年进入北京大学，先后任北京大学象棋队队长，北京大学棋牌队总队长。曾在人大附中等学校任教，具有丰富的教学经验。</p>
	        	</div>
	        </div>
	    </div>
	    <div class="col-sm-3 col-md-6 col-lg-6">
	      	<div class="thumbnail">
	        	<img class='img-responsive' src="/static/img/xiangqi/xiangqi7.jpg" alt="任刚">
	        	<div class="caption">
	        		<h3 style="font-weight: bold;">任刚</h3>
	          		<p>棋协大师，本科、研究生就均读于北京大学。师从孙耀先、方士庆、王国栋、张强、洪磊鑫等北京市诸多象棋名手。多次获得全国少年赛前六名，曾代表象棋队参加全国团体赛。2009年获得“威凯杯”全国象棋一级棋士赛冠军，2008、2015年北京市等级赛冠军。大学期间,曾担任北京大学中国象棋队队长， 并在多所北京市中小学进行教学工作。</p>
	        	</div>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}